ion-card svg {
  max-width: 100% !important;
  max-height: 50% !important;
}

ion-card {
  margin-top: 0px;
  margin-inline: 0px;
}

ion-searchbar {
  padding: 0px;
}

ion-list {
  margin: 0px !important;
}
