img {

    max-height: 200px;
    max-width: 400px;

}

.intro {
    text-align: left;

    h1 {
        font-size: xx-large;
    }
}


.image{
    display: flex;
}

.image img{
    margin: auto;  /* Magic! */
}


ion-footer{
    font-size: small;
    text-align: center;
    background-color: var(--ion-color-primary);
    a{
        color: var(--ion-font-color);
    }
}