<ion-header>
  <ion-toolbar>
    <ion-title>myclub - App | the next generation</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="light" href="login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <!-- Intro myclub App -->
    <ion-row>
      <ion-col size="12" size-xs="12" size-sm="2" size-lg=""></ion-col>
      <ion-col class="intro" size="12" size-xs="12" size-sm="4" size-lg="4">
        <ion-text>
          <h1>
            <b>myclub - App | the next generation</b>
          </h1>
          <h3>Wir beginnen dort, wo andere aufhören. Unser Ziel ist es, dass Du mehr Zeit für dein Hobby hast und damit so erfolgreich wie möglich
            bist!</h3>
            <p>
              Unbegrenzte Mitgliederverwaltung, News, Trainings und Events gehören bei uns zum Standard.
              Wir unterstützen nicht nur dein Training, sondern bringen dich möglichst erfolgreich durch die Meisterschaft!
            </p>
            <p>
              Teste myclub - App kostenlos für 3 Monate und zahle anschliessend CHF 99.- im Jahr pro Verein, egal wie gross er ist.                
            </p> 
            <p>
              Ganz einfach oder? Dann Registriere dich gleich jetzt!
            </p>
        </ion-text>
       <ion-button href="/signup">Registrieren</ion-button>
      </ion-col>
      <ion-col class="image" size="12" size-xs="12" size-sm="4" size-lg="4">
        <img src="assets/splash.svg" />
      </ion-col>
      <ion-col size="12" size-xs="12" size-sm="2" size-lg=""></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  Du akzeptierst die Datenschutzbestimmungen und ABGs von my-club: <ion-text><a href="https://my-club.app/agb">(Link)</a></ion-text>
</ion-footer>