<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"common.notifications" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"common.notifications" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (notifications$ | async; as notificationsList) { @if
  (notificationsList.length > 0) {
  <ion-list>
    <ion-list-header>
      <ion-label>{{ "common.notifications_open" | translate }}</ion-label>
      <ion-button (click)="markALlAsRead()" size="small" fill="clear">
        {{"common.all_read" | translate}}</ion-button
      >
    </ion-list-header>
    @for (notification of notificationsList; track notification) {
    <ion-item detail>
      @if (!notification.opened) {
      <ion-icon
        color="primary"
        name="notifications"
        slot="start"
        (click)="toggle(notification)"
      ></ion-icon>
      }
      <ion-label (click)="openNotification(notification)">
        <h2>{{ notification.title }}</h2>
        <h3>{{ notification.message }}</h3>
        <h3>{{ notification.date.toDate() | date:'dd.MM.yyyy HH:mm'}}</h3>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } @if (notificationsList.length==0) {
  <ion-list>
    <ion-list-header>
      {{ "common.notifications_open" | translate }}
    </ion-list-header>
    <ion-item>
      <ion-note> Keine offenen Benachrichtigungen gefunden </ion-note>
    </ion-item>
  </ion-list>
  } } @else {
  <ion-list>
    <ion-grid>
      <ion-row>
        @for (item of skeleton; track item) {
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-list>
  } @if (notificationsRead$ | async; as notificationsReadList) { @if
  (notificationsReadList.length > 0) {
  <ion-list>
    <ion-list-header>
      {{ "common.notifications_read" | translate }}
    </ion-list-header>
    @for (notification of notificationsReadList; track notification) {
    <ion-item detail (click)="openNotification(notification)">
      @if (notification.opened) {
      <ion-icon
        color="primary"
        name="notifications-outline"
        slot="start"
      ></ion-icon>
      }
      <ion-label>
        <h2>{{ notification.title }}</h2>
        <h3>{{ notification.message }}</h3>
        <h3>{{ notification.date.toDate() | date:'dd.MM.yyyy HH:mm'}}</h3>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } @if (notificationsReadList.length == 0) {
  <ion-list>
    <ion-list-header>
      {{ "common.notifications_read" | translate }}
    </ion-list-header>
    <ion-item>
      <ion-note> Keine Benachrichtigungen gefunden </ion-note>
    </ion-item>
  </ion-list>
  } } @else {
  <ion-list>
    <ion-grid>
      <ion-row>
        @for (item of skeleton; track item) {
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-list>
  }
</ion-content>
