@if (club$ | async; as club) {
<ion-header [translucent]="true">
  <ion-toolbar>
    @if (clubAdminList$ | async; as clubAdminList) { @if
    (isClubAdmin(clubAdminList, club.id)) {
    <ion-buttons slot="primary">
      @if (!allowEdit) {
      <ion-button (click)="edit()">{{"common.edit" | translate}}</ion-button>
      } @if (allowEdit) {
      <ion-button (click)="edit()">{{"common.done" | translate}}</ion-button>
      }
    </ion-buttons>
    } }
    <ion-title>{{"club.links" | translate}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"club.links" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (links$ | async; as links) {
  <ion-list [inset]="true">
    <ion-reorder-group
      [disabled]="!allowEdit"
      (ionItemReorder)="handleReorder($any($event))"
    >
      @for (link of links; track link.id) {
      <ion-item-sliding #item>
        <ion-item detail="true" (click)="openLink(link.url)">
          @if (allowEdit) {
          <ion-reorder slot="start"></ion-reorder>
          } @if (link.type === 'image') {
          <ion-avatar slot="start" style="width: 32px; height: 32px">
            <img
              [src]="link.url"
              alt="{{link.title}}"
              style="width: 100%; height: 100%; object-fit: cover"
            />
          </ion-avatar>
          } @else {
          <ion-icon [name]="getLinkIcon(link.type)" slot="start"></ion-icon>
          }
          <ion-label class="ion-text-wrap">
            <h2>{{link.title}}</h2>
            <p>{{link?.description.slice(0, 50)}}...</p>
          </ion-label>
        </ion-item>
        @if (clubAdminList$ | async; as clubAdminList) { @if
        (isClubAdmin(clubAdminList, club.id)) {
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="editLink(item, link)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteLink(item, link.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        } }
      </ion-item-sliding>
      }
    </ion-reorder-group>
  </ion-list>
  } @else {
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  } @if (clubAdminList$ | async; as clubAdminList) { @if
  (isClubAdmin(clubAdminList, club.id)) {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddLinkModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } }
</ion-content>
}
