<ion-content>
  <ion-grid class="ion-no-padding" style="height: 100vh">
    <ion-row style="min-height: 100vh">
      <!-- Logout Message Column -->
      <ion-col
        size-md="6"
        size-lg="5"
        style="display: flex; align-items: center; justify-content: center"
      >
        <ion-card class="ion-no-margin" style="max-width: 500px; width: 100%">
          <ion-card-content>
            <ion-img
              src="assets/logo_trans.png"
              alt="Logo"
              style="max-height: 100px; max-width: 100px"
            ></ion-img>
            <ion-card-title
              >{{'logout.logout__success'|translate}}</ion-card-title
            >
            <ion-text>
              <p>
                <ion-router-link routerLink="/login" class="ion-text-primary">
                  {{'logout.back_to__login'|translate}}
                </ion-router-link>
              </p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Image Column -->
      <ion-col
        size-md="6"
        size-lg="7"
        style="padding: 0"
        class="ion-hide-md-down"
      >
        <div
          style="
            height: 100%;
            background-image: url(&quot;assets/bg/logout.jpg&quot;);
            background-size: cover;
            background-position: center;
          "
        ></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
