<ng-container *ngIf="club$ | async as club; else loading">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <!--<ion-buttons slot="secondary">
        <ion-button *ngIf="!allowEdit" (click)="edit()"
          >{{"common.edit" | translate}}</ion-button
        >
        <ion-button *ngIf="allowEdit" (click)="edit()"
          >{{"common.cancel" | translate}}</ion-button
        >
      </ion-buttons>-->
      <ion-title>{{"club.details" | translate}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="close()"
          >{{"common.close" | translate}}</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{"club.details" | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list [inset]="true">
      <ion-item>
        <ion-avatar class="club-logo">
          <img alt="{{club.name}}" src="{{club.logo}}" />
        </ion-avatar>
        <ion-label>{{club.name}}</ion-label>
      </ion-item>
      <!--   <ion-item>
        <ion-label>type</ion-label>
        <ion-badge slot="end">{{club.type}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label> {{club.website}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{club.wordpress}} </ion-label>
      </ion-item>-->

      <!--
  <ion-item>
    {{"club.trainaing__presence" | translate}}: 
  </ion-item>
-->
    </ion-list>

    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{ "common.manage_members" | translate}} </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
        <ion-label> {{"common.average__age" | translate}} </ion-label>
        <ion-note slot="end"> {{club.averageAge}}</ion-note>
      </ion-item>

      <ion-item
        detail="true"
        (click)="openRequestList()"
        *ngIf="club['clubRequests'].length > 0"
      >
        <ion-icon
          name="alert-circle-outline"
          color="warning"
          slot="start"
        ></ion-icon>
        <ion-label> {{"common.requests" | translate}} </ion-label>
        <ion-note slot="end">{{club['clubRequests'].length}}</ion-note>
      </ion-item>

      <ion-item detail="true" (click)="openMemberList()">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label> {{"common.members" | translate}} </ion-label>
        <ion-note slot="end">{{club['clubMembers'].length}}</ion-note>
      </ion-item>

      <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
        <ion-item
          *ngIf="isClubAdmin(clubAdminList, this.club.id)"
          detail="true"
          (click)="openAdminList()"
        >
          <ion-icon name="shield-half-outline" slot="start"></ion-icon>
          <ion-label> {{"common.admins" | translate}} </ion-label>
          <ion-note slot="end">{{club['clubAdmins'].length}}</ion-note>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
        <ion-item
          *ngIf="isClubAdmin(clubAdminList, this.club.id)"
          detail="true"
          (click)="openParentList()"
        >
          <ion-icon name="people-circle-outline" slot="start"></ion-icon>
          <ion-label> {{"common.parents" | translate}} </ion-label>
        </ion-item>
      </ng-container>

      <ion-item detail="true" (click)="openTeamList()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label> {{"common.teams" | translate}} </ion-label>
        <ion-note slot="end">{{club['clubTeams'].length}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
        <ng-container *ngIf="isClubAdmin(clubAdminList, this.club.id)">
          <ion-item detail="true" (click)="openSubscription()">
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label> {{"common.subscription" | translate}} </ion-label>
            <ion-badge slot="end">{{club.subscriptionType}}</ion-badge>
          </ion-item>

          <ion-item
            *ngIf="isClubAdmin(clubAdminList, this.club.id)"
            detail="true"
            (click)="openHelferPunkteClub()"
          >
            <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
            <ion-label> Helferpunkte </ion-label>
          </ion-item>

          <ion-item detail="true" (click)="openLinksList()">
            <ion-icon name="link-outline" slot="start"></ion-icon>
            <ion-label> {{"club.links" | translate}} </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
      <ng-container *ngIf="isClubAdmin(clubAdminList, club.id)">
        <ion-list lines="full" [inset]="true">
          <ion-list-header>
            <ion-label> Grenzwerte für Abmeldungen </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-input
              labelPlacement="fixed"
              label="Veranstaltungen"
              type="number"
              [value]="club.eventThreshold"
              (ionInput)="onInput($event, 'eventThreshold')"
            ></ion-input>
          </ion-item>

          <ng-container *ngIf="club.hasFeatureHelferEvent">
            <ion-item>
              <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
              <ion-input
                labelPlacement="fixed"
                label="Helferevents"
                type="number"
                [value]="club.helferThreshold"
                (ionInput)="onInput($event, 'helferThreshold')"
              ></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>
        <ion-note
          color="medium"
          style="display: block"
          class="ion-margin-horizontal ion-padding-horizontal ion-text-wrap"
        >
          Anzahl Stunden vor Beginn des Spiels, Trainings oder
          Veranstaltung</ion-note
        >
      </ng-container>
    </ng-container>

    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{ "common.details" | translate}} </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" name="mail-outline"> </ion-icon>
        <ion-input
          (ionChange)="changeEmail($event)"
          labelPlacement="stacked"
          [label]='"profile.email" | translate'
          type="email"
          attr.aria-label='{{"common.email" | translate}}'
          [value]="club.email"
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="club.wordpress">
        <ion-icon name="logo-wordpress" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap"> {{club?.wordpress}} </ion-label>
        <ion-button (click)="openUrl(club.wordpress)" fill="clear">
          <ion-icon slot="icon-only" name="open-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="club.website">
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap"> {{club?.website}} </ion-label>
        <ion-button (click)="openUrl(club.website)" fill="clear">
          <ion-icon slot="icon-only" name="open-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{ "common.support" | translate}} </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
        <ion-label> {{club.type}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time" slot="start" color="medium"></ion-icon>
        <ion-note> {{club.updated | date:'dd.MM.YYYY HH:mm'}} Uhr</ion-note>
      </ion-item>

      <!--<ion-item >
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label> {{club.apiKey}} </ion-label>
      </ion-item>-->
    </ion-list>
    <!--
  <ion-list lines="full" [inset]="true">
    <ion-list-header>
      <ion-label> {{ "common.settings" | translate}} </ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-icon name="hammer-outline" slot="start"></ion-icon>
      <ion-label> API KEY </ion-label>
    </ion-item>
  </ion-list>
-->

    <!--
  
    <ion-list [inset]="true" *ngIf="club['clubRequests'].length > 0">
      <ion-list-header>
        <ion-label> {{"common.requests" | translate}} </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let request of club['clubRequests']" detail="true">
        <ion-icon
          slot="start"
          color="primary"
          name="help-circle-outline"
        ></ion-icon>
        <ion-label class="ion-text-wrap" (click)="openRequestMember(request)"
          >{{request.firstName}} {{request.lastName}} {{request?.email}}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label> {{"common.members" | translate}} </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let member of club['clubMembers']" detail="true">
        <ion-avatar slot="start">
          <img src="{{member?.profilePicture}}" />
        </ion-avatar>
        <ion-label class="ion-text-wrap" (click)="openMember(member)"
          >{{member.firstName}} {{member.lastName}}</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label> {{"common.admins" | translate}} </ion-label>
        <ion-button strong="true" (click)="addAdministrator()"
          >hinzufügen</ion-button
        >
      </ion-list-header>
      <ion-item *ngFor="let admin of club['clubAdmins']" detail="true">
        <ion-avatar slot="start">
          <img src="{{admin?.profilePicture}}" />
        </ion-avatar>
        <ion-label class="ion-text-wrap" (click)="openMember(admin)"
          >{{admin.firstName}} {{admin.lastName}}</ion-label
        >
      </ion-item>
    </ion-list>

-->

    <!--

  <ion-list *ngIf="requestList.length > 0">
    <ion-list-header> Anfragen </ion-list-header>
    <ion-item *ngFor="let member of requestList">
      <ion-avatar slot="start">
        <img src="{{member?.profilePicture}}" />
      </ion-avatar>
      <ion-label> {{member?.firstName}} {{member?.lastName}} </ion-label>
      <ion-button color="danger" (click)="deleteClubRequest(member)" slot="end">
        <ion-icon icon-only name="trash"></ion-icon>
      </ion-button>
      <ion-button
      color="success"
      (click)="approveClubRequest(member)"
      slot="end"
      >
      <ion-icon icon-only name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
-->
    <!--


<ng-container *ngIf="requestList$ | async as requests; else noRequests">
  <ion-list [inset]="true" *ngIf="requests.length > 0">
    <ion-list-header> Anfragen </ion-list-header>
    <ion-item *ngFor="let request of requests">
      <ion-avatar slot="start">
        <img [src]="request?.profilePicture" />
      </ion-avatar>
      <ion-label> {{request?.firstName}} {{request?.lastName}} </ion-label>
      <ion-button color="danger" (click)="deleteClubRequest(request)" slot="end">
        <ion-icon icon-only name="trash"></ion-icon>
      </ion-button>
      <ion-button color="success" (click)="approveClubRequest(request)" slot="end">
        <ion-icon icon-only name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ng-container>
-->

    <ion-text class="ion-text-center" color="medium">
      <ion-note>
        <p>Club ID: {{club.id}}</p>
      </ion-note>
    </ion-text>
  </ion-content>
</ng-container>
<ng-template #noRequests>
  <!-- You can put any placeholder or message here if needed when there are no requests -->
</ng-template>

<ng-template #loading>
  <ion-list [inset]="true">
    <ion-item>
      <ion-avatar class="club-logo">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 100%; border-radius: 50%"
        ></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" [inset]="true">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end">
        <ion-skeleton-text animated style="width: 30px"></ion-skeleton-text>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="people-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end">
        <ion-skeleton-text animated style="width: 30px"></ion-skeleton-text>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end">
        <ion-skeleton-text animated style="width: 30px"></ion-skeleton-text>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
      <ion-badge slot="end">
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list lines="full" [inset]="true">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" [inset]="true">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-note>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-note>
    </ion-item>
  </ion-list>
</ng-template>
