<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_MrYRuS1KMMTVW6_PjiOi2h6XBxWyYDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>631527568360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.myclub.default</string>
	<key>PROJECT_ID</key>
	<string>myclubmanagement</string>
	<key>STORAGE_BUCKET</key>
	<string>myclubmanagement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631527568360:ios:64ebf225271c17defc6a5d</string>
	<key>DATABASE_URL</key>
	<string>https://myclubmanagement.firebaseio.com</string>
</dict>
</plist>