<ion-header>
  <ion-toolbar>
    <ion-title>AGB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AGB</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-text >
      <p>
        Wir haben uns zum Ziel gesetzt, dass Du Zeit für dein Hobby hast und damit so erfolgreich wie möglich bist! Damit
        das möglich ist, sind unten die Allgemeinen Bestimmungen & Nutzungsbestimmungen aufgelistet.
      </p>
  
      <h2>
        Allgemein
    </h2>
      <p>
        "my-club | the next generation" ist ein Portal zur Vereinsverwaltung. Dazu gehören diese Website, die Web App
        "my-club | the next generation" und die beiden Apps im Google Play Store und Apple App Store.
      </p>
      <p>
        Diese Nutzungsbedingungen können jederzeit und unangekündigt ändern. "my-club | the next generation" wird jedoch gravierende
        Änderungen an den Nutzungsbedingungen oder dem Leistungsumfang in angemessener Frist per E-Mail ankündigen. Die
        Nutzung ist ausschliesslich für schweizer Bürger vorgesehen.
      </p>
      <p>
        Als Benutzer/Mitglied von "my-club | the next generation" erklären Sie sich mit folgenden Nutzungsbedingungen einverstanden:
      </p>
  
      <h2>
        Datenschutz & Datensicherheit
      </h2>
      <p>
        "my-club | the next generation" behandelt Ihren Inhalt als vertrauliche Information, versucht unter grösstmöglicher Anstrengung den
        Datenschutz zu gewährleisten und gibt keine Daten an Dritte weiter. Dazu gehören unter anderem die Geheimhaltung
        von Passwort, E-Mail Adresse und Namen. "my-club | the next generation" haftet nicht für einen möglichen Zugriff auf Ihr
        Benutzerkonto durch Dritte und damit zusammenhängende Schäden. Zum Zwecke einer Fehleranalyse kann sich
        "my-club | the next generation" auf Anfrage des Benutzers Zugriff zum Konto verschaffen und somit schnell und effizient allfällige
        Fragen oder Probleme lösen. "my-club | the next generation" wird ausschliesslich auf Servern bei Google (Zürich/Frankfurt) betrieben und die Daten in der Schweiz (Zürich) gespeichert. Für Service und Support sowie zu Informationszwecken werden
        die Emailadressen via Mailchimp gespeichert. Die Benutzerdaten, welche im Profil eingegeben werden, sind für Administratoren der jeweiligen Vereine ersichtlich. 
        Dh. Vereins- und Teamadministratoren können Mitgliederlisten mit Adressdaten, Geburtstagslisten oder Trainingspräsenzlisten erstellen.
        Das System wird regelmässig gesichert. 
      </p>
      <h2>
        Haftbarkeit
      </h2>
      <p>
        "my-club | the next generation" versucht den Service rund um die Uhr aufrecht zu erhalten. Trotzdem kann "my-club | the next generation" einen Teil-
        oder Totalausfall des Services oder Datenverlust nicht ausschliessen und haftet nicht für allfällige entstandene
        Schäden. "my-club | the next generation" ist berechtigt, den Service unangekündigt vorübergehend zu beenden oder zu blockieren.
        Mögliche Gründe hierfür sind Verdacht auf Sicherheitslücken, Wartungsarbeiten oder Ähnliches. Ausserdem haftet
        "my-club | the next generation" nicht, für den Inhalt von swiss unihockey oder anderen Quellen.
      </p>
  
      <h2>
        Dienste
      </h2>
      <p>
        Damit "my-club | the next generation" funktioniert, müssen einige Dienste verwendet werden. Diese Dienste haben ihre eigenen AGBs
        und Datenschutzbestimmungen. Diese Dienste können Nutzerprofile erstellen und Nutzungsdaten sammeln.
      </p>
      <ul>
        <li>
          Namecheap, Hostpoint (Domain)
        </li>
        <li>Google Firebase (Backendservices)</li>
        <li>Mailchimp (Newsletter)</li>
        <li>swiss unihockey API (Meisterschaftsdaten + News)</li>
      </ul>
  
      <h2>
        Kreditkartenzahlung
      </h2>
      <p>
        Für Kreditkartenzahlungen wird Paypal verwendet. Dadurch kann eine absolute Trennung der Kreditkartendaten von
        "my-club | the next generation" garantiert werden. Paypal gehört zu den weltweit führenden Anbietern für Online-Zahlungen und
        bietet allerhöchste Sicherheitsstandards (weitere Infos unter paypal.ch).
      </p>
  
    </ion-text>

  </div>


</ion-content>