ion-button {
  --padding-start: 0px;
}

ion-card-content {
  padding: 0 10px 0;
}
ion-card-header {
  padding: 10px 10px 0;
}
ion-card {
  margin: 2px 16px 10px;
}
ion-col {
  padding: 0px;
}

.cardDate {
  margin: 0 0;
  color: #797979;
}
.cardTop {
  padding: 0;
  margin: 0;
}
