<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">schliessen</ion-button>
    </ion-buttons>
    <ion-title>Training erstellen</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="createTraining()">erstellen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
     
      <ion-input label="Name" value="{{training.name}}">
      </ion-input>
    </ion-item>
    <ion-item>
     
      <ion-input
      label="Beschreibung"
        value="{{training.description}}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
    
      <ion-input
      label="Strasse & Hausnummer"
        value="{{training.streetAndNumber}}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      label="Postleitzahl"
        value="{{training.postalCode}}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Ortschaft" value="{{training.city}}">
      </ion-input>
    </ion-item>

    <ion-item id="timeFromItem">
      <ion-label position="default"> Uhrzeit von: </ion-label>
      <ion-datetime-button slot="end" datetime="timeFrom"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="time" id="timeFrom"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="timeToItem">
      <ion-label position="default"> Uhrzeit bis: </ion-label>
      <ion-datetime-button slot="end" datetime="timeTo"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="time" id="timeTo"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="startDateItem">
      <ion-label position="default"> Erstes Training: </ion-label>
      <ion-datetime-button slot="end" datetime="startDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="date" id="startDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="endDateItem">
      <ion-label position="default"> Erstes Training: </ion-label>
      <ion-datetime-button slot="end" datetime="endDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="date" id="endDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
