<ng-container *ngIf="club$ | async as club">
  <ion-header [translucent]="true">
    <ion-toolbar>
     <!-- <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
        <ion-buttons *ngIf="isClubAdmin(clubAdminList, clubId)" slot="secondary">
          <ion-button *ngIf="!allowEdit" (click)="edit()">{{"common.edit" | translate}}</ion-button>
          <ion-button *ngIf="allowEdit" (click)="edit()">{{"common.done" | translate}}</ion-button>
        </ion-buttons>
      </ng-container>-->
      <ion-title>{{ club.name }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ club.name }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-searchbar [debounce]="1000" (ionChange)="handleSearch($event)" animated="true" search-icon="search-circle"
      [value]="searchTerm.value" placeholder='{{"common.searchfield" | translate}}'></ion-searchbar>

    <!-- <div class="ion-padding">
     <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
          <ion-button *ngIf="isClubAdmin(clubAdminList, club.id)" shape="round" size="small" (click)="addRole()">
            {{"common.add" | translate}}
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ng-container>
      <ion-button (click)="setFilter(role)" shape="round" size="small" *ngFor="let role of club['roles']">
        {{role}}
      </ion-button>
    </div>-->
       
    <ion-list inset="true">
      <ion-list-header>
        <ion-label>Auswertung</ion-label>
       
      </ion-list-header>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Datum von</ion-label>
        <ion-datetime-button datetime="dateFrom"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="dateFrom" presentation="date" [firstDayOfWeek]="1" [value]="club.helferReportingDateFrom"
              [min]="minDate" [max]="maxDate"
              (ionChange)="changeDate($event, 'helferReportingDateFrom')"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Datum bis</ion-label>
        <ion-datetime-button datetime="dateTo"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="dateTo" presentation="date" [firstDayOfWeek]="1" [value]="club.helferReportingDateTo"
              [min]="minDate" [max]="maxDate" (ionChange)="changeDate($event, 'helferReportingDateTo')"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <!--
        <ion-item>
          <ion-toggle justify="space-between"  (ionChange)="onHelferPunktePlanned($event)" [checked]="plannedToggle.value" [enableOnOffLabels]="true"  labelPlacement="start">Geplante Einsätze</ion-toggle><br /><br />
        </ion-item>
        -->

   <!--   <ion-item>
        <ion-select  value="0" label="Min. Punkte"  aria-label="Min Punkte"  justify="space-between"   (ionChange)="onHelferPunkteMinChange($event)" placeholder="Min Punkte">
          <ion-select-option value="0">0 Punkte</ion-select-option>
          <ion-select-option value="1">1 Punkt</ion-select-option>
          <ion-select-option value="2">2 Punkte</ion-select-option>
          <ion-select-option value="3">3 Punkte</ion-select-option>
          <ion-select-option value="4">4 Punkte</ion-select-option>
          <ion-select-option value="5">5 Punkte</ion-select-option>
          <ion-select-option value="6">6 Punkte</ion-select-option>
          <ion-select-option value="7">7 Punkt</ion-select-option>
          <ion-select-option value="8">8 Punkte</ion-select-option>
          <ion-select-option value="9">9 Punkte</ion-select-option>
          <ion-select-option value="10">10 Punkte</ion-select-option>
          <ion-select-option value="99">10+ Punkte</ion-select-option>
        </ion-select>

      </ion-item>

      <ion-item>
        <ion-select value="99" label="Max. Punkte"  aria-label="Max Punkte"  justify="space-between"   (ionChange)="onHelferPunkteMaxChange($event)" placeholder="Max Punkte">
          <ion-select-option value="0">0 Punkte</ion-select-option>
          <ion-select-option value="1">1 Punkt</ion-select-option>
          <ion-select-option value="2">2 Punkte</ion-select-option>
          <ion-select-option value="3">3 Punkte</ion-select-option>
          <ion-select-option value="4">4 Punkte</ion-select-option>
          <ion-select-option value="5">5 Punkte</ion-select-option>
          <ion-select-option value="6">6 Punkte</ion-select-option>
          <ion-select-option value="7">7 Punkt</ion-select-option>
          <ion-select-option value="8">8 Punkte</ion-select-option>
          <ion-select-option value="9">9 Punkte</ion-select-option>
          <ion-select-option value="10">10 Punkte</ion-select-option>
          <ion-select-option value="99">10+ Punkte</ion-select-option>

        </ion-select>

      </ion-item>

      <ion-item>
        <ion-toggle justify="space-between"  (ionChange)="onHelferPunktePlanned($event)" [checked]="plannedToggle.value" [enableOnOffLabels]="true"  labelPlacement="start">Geplante Einsätze</ion-toggle><br /><br />
      </ion-item>-->

<!--      <ion-item>
        <ion-range labelPlacement="start" label="Helferpunkte" 
        [dualKnobs]="true" 
        [value]="{ lower: 0, upper: 2 }"
        [pin]="true" 
        [pinFormatter]="pinFormatter"
        [ticks]="true" [snaps]="true" [min]="0" [max]="10"
        (ionChange)="onHelferPunkteChange($event)"
        ></ion-range>

        <br />
      </ion-item>-->
    </ion-list>


    <ng-container *ngIf="filteredClubMembers$ | async as members">
      <ion-list inset="true">
        <ion-list-header>
          <ion-label>Mitglieder ({{members?.length}})</ion-label>
          <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
            <ion-button *ngIf="isClubAdmin(clubAdminList, clubId)" shape="round" size="small" (click)="downloadClubPoints()">
              <ion-label>Download</ion-label>
            </ion-button>
          </ng-container>
        </ion-list-header>

        <ion-item-group>
          <ng-container *ngFor="let groupBy of groupArray">
            <ion-item-divider color="light">
              <ion-label>{{groupBy}}</ion-label>
              <ion-label slot="end">min./bestätigt/offen</ion-label>
            </ion-item-divider>

            <ng-container *ngFor="let member of members">
              <ion-item *ngIf="member.groupBy == groupBy" detail="true" button="true" (click)="openHelferPunktDetailModal(member)">
                <ion-label>
                  {{member.profile.firstName}} {{member.profile.lastName}} 
                  <ion-badge color="primary" *ngFor="let role of member.roles">
                    {{role}}
                  </ion-badge>
                </ion-label>
                <ion-note slot="end">
                  
                  <ion-badge [color]="member.totalPoints >= member.helferPunkte ? 'success' : (member.totalPoints >= 0.5 * member.helferPunkte ? 'warning' : 'danger')">
                    {{member.helferPunkte || 0}} / {{member.totalPoints || 0}} / {{member.totalPointsPlanned}} Punkte
                  </ion-badge>
                </ion-note>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
      <ion-fab *ngIf="isClubAdmin(clubAdminList, clubId)" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openHelferPunktCreateModal()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ion-content>

</ng-container>