<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"events.event" | translate}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button *ngIf="!filterValue" (click)="openFilter($event)">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
      <ion-button *ngIf="filterValue" (click)="openFilter($event)">
        <ion-icon slot="icon-only" name="filter-circle"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"events.event" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="eventList$ | async as eventsList; else loading">
    <ion-list *ngIf="eventsList.length > 0" lines="full">
      <ion-list-header>
        <ion-label>{{"events.upcomming__events" | translate}}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label slot="start">
          <p>{{"common.status" | translate}}</p>
        </ion-label>
        <ion-label slot="end">
          <p>{{"common.participant" | translate}}</p>
        </ion-label>
      </ion-item>

      <ion-item-sliding #item *ngFor="let event of eventsList">
        <ion-item type="button" detail="true">
          <ng-container *ngIf="!event.closedEvent">
            <ion-icon *ngIf="event.status === null" slot="icon-only" color="warning" slot="start" name="help-circle"
              (click)="toggle(true, event)"></ion-icon>
            <ion-icon *ngIf="event.status === false" slot="icon-only" color="danger" slot="start" name="close-circle"
              (click)="toggle( true, event)"></ion-icon>
            <ion-icon *ngIf="event.status === true" slot="icon-only" color="success" slot="start"
              name="checkmark-circle" (click)="toggle(false, event)"></ion-icon>
          </ng-container>
          <ion-label (click)="openEventDetailModal(event, true)">
            <h2>{{event.name}}</h2>
            <h3>
              <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
              {{event.date.toDate() | date:'dd.MM.YYYY'}} {{event.timeFrom |
              date:'HH:mm'}} Uhr - {{event.timeTo | date:'HH:mm'}} Uhr
            </h3>
            <h3>
              <ion-icon slot="icon-only" name="location-outline"></ion-icon>
              {{event.location}} {{event.streetAndNumber}} {{event.city}}
            </h3>
          </ion-label>
          <ion-badge slot="end" *ngIf="!event.closedEvent" (click)="openEventDetailModal(event, true)"
            color="primary">{{event.countAttendees}}</ion-badge>

        </ion-item>
        <ng-container *ngIf="!event.closedEvent">

          <ion-item-options side="start">
            <ion-item-option color="success" *ngIf="event.status === false || event.status === null"
              (click)="toggleItem(item, true, event)">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" *ngIf="event.status === true || event.status === null"
              (click)="toggleItem(item, false, event)">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ng-container>

        <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
          <ion-item-options side="end" *ngIf="isClubAdmin(clubAdminList, event.clubId)">
            <ion-item-option color="primary" (click)="createHelferEvent(item, event)">
              <ion-icon slot="icon-only" name="help-buoy-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option color="medium" (click)="copyEvent(item, event)">
              <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option color="danger" (click)="deleteEvent(item, event)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ng-container>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="eventsList.length==0">
      <ion-list-header>
        <ion-label>{{"events.upcomming__events" | translate}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-note> {{"common.no_event__found" | translate}} </ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="eventListPast$ | async as eventsListPast; else loading">
    <ion-list *ngIf="eventsListPast.length > 0" lines="full">
      <ion-list-header>
        <ion-label>{{"events.past__events" | translate}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label slot="start">
          <p>{{"common.status" | translate}}</p>
        </ion-label>
        <ion-label slot="end">
          <p>{{"common.participant" | translate}}</p>
        </ion-label>
      </ion-item>
      <ion-item-sliding #item *ngFor="let event of eventsListPast">
        <ion-item type="button" detail="true">
          <ion-icon *ngIf="event.status === null" slot="icon-only" color="warning" slot="start"
            name="help-circle"></ion-icon>
          <ion-icon *ngIf="event.status === false" slot="icon-only" color="danger" slot="start"
            name="close-circle"></ion-icon>
          <ion-icon *ngIf="event.status === true" slot="icon-only" color="success" slot="start"
            name="checkmark-circle"></ion-icon>
          <ion-label (click)="openEventDetailModal(event, false)">
            <h2>{{event.name}}</h2>
            <h3>
              <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
              {{event.date.toDate() | date:'dd.MM.YYYY '}} {{event.timeFrom |
              date:'HH:mm'}} Uhr - {{event.timeTo | date:'HH:mm'}} Uhr
            </h3>
            <h3>
              <ion-icon slot="icon-only" name="location-outline"></ion-icon>
              {{event.location}} {{event.streetAndNumber}} {{event.city}}
            </h3>
          </ion-label>
          <ion-badge slot="end" (click)="openEventDetailModal(event, false)"
            color="primary">{{event.countAttendees}}</ion-badge>

        </ion-item>

        <ng-container *ngIf="clubAdminList$ | async as clubAdminList">

          <ion-item-options side="end" *ngIf="isClubAdmin(clubAdminList, event.clubId)">

            <ion-item-option color="primary" (click)="createHelferEvent(item, event)">
              <ion-icon slot="icon-only" name="help-buoy-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option color="medium" (click)="copyEvent(item, event)">
              <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option color="danger" (click)="deleteEvent(item, event)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ng-container>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="eventsListPast.length==0">
      <ion-list-header>
        <ion-label>{{"events.past__events" | translate}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-note> {{"common.no_event__found" | translate}} </ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
    <ion-fab *ngIf="clubAdminList.length > 0" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openEventCreateModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>

<ng-template #loading>
  <ion-list *ngIf="loading">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12" *ngFor="let item of skeleton">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ng-template>