<ng-container *ngIf="game$ | async as game">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{"common.details" | translate}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="close()"
          >{{"common.close" | translate}}</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{"common.details" | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <game-preview
      club="{{game.clubRef.id}}"
      game="{{game.id}}"
      theme="myclub"
      width="400"
      height="auto"
    ></game-preview>

    <ion-button
      *ngIf="isShareable"
      expand="block"
      (click)="openShare(game.id)"
      class="ion-margin-top"
    >
      <ion-icon name="share-outline" slot="start"></ion-icon>
      {{"common.share" | translate}}
    </ion-button>
  </ion-content>
</ng-container>
