<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "common.my_helper_points" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- class="ion-padding" -->

<ion-content>

  <ng-container *ngIf="helferPunkteList$ | async as helferPunkteList">


    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ "common.my_helper_points" | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-list [inset]="true">

      <ion-item-group>
        <ng-container *ngFor="let groupBy of groupArray">
          <ion-item-divider color="light">
            <ion-label> {{groupBy}} </ion-label>
          </ion-item-divider>

          
          <ng-container *ngFor="let helferPunkt of helferPunkteList">

            <ion-item  
            type="button"
            detail="true"
            (click)="openHelferEinsatz(helferPunkt)"
            *ngIf="helferPunkt.eventDate.toDate().getFullYear()==groupBy">
              <ion-label>
                <h2>{{helferPunkt.eventName}} - {{helferPunkt.schichtName}}</h2>
                <h3>
                  <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
                  {{helferPunkt.eventDate.toDate() | date:'dd.MM.YYYY '}}
                </h3>
                <h3 *ngIf="helferPunkt.schichtTimeFrom && helferPunkt.schichtTimeTo">
                  <ion-icon slot="icon-only" name="time-outline"></ion-icon>
                  {{helferPunkt.schichtTimeFrom}} Uhr - {{helferPunkt.schichtTimeTo}} Uhr
                </h3>
                <h3>
                  <ion-icon slot="icon-only" name="person-outline"></ion-icon>
                  {{helferPunkt.confirmedByFirstName}} {{helferPunkt.confirmedByLastName}} {{helferPunkt.date.toDate() | date:'dd.MM.YYYY '}}
                </h3>
      
              </ion-label>

              <ion-note slot="end">
                <ion-badge>{{helferPunkt.points}}</ion-badge>
              </ion-note>

            </ion-item>
          </ng-container> 
        </ng-container>
      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #loading>
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>