<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informationen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informationen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-padding">

    <ion-item>
      Enwickler: liitu consulting gmbh, schaffhausen, schweiz
    </ion-item>

    <ion-item>
      <ion-img src="./../../../assets/sms.png" alt="Swiss Made Software Logo"></ion-img>
    </ion-item>

    <ion-item>
      App Version {{appVersion}}
    </ion-item>

    <ion-item>
      <ion-button>Geschäftsbedingungen</ion-button>
    </ion-item>

    <ion-item>
      <ion-button>Datenschutzrichtlinie </ion-button>
    </ion-item>
  </ion-list>
</ion-content>