<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"info.information" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"info.information" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list lines="full" [inset]="true">
    <ion-item type="button" detail="true" (click)="openTCSite()">
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-label>
        {{"info.terms__and_conditions" | translate}}
      </ion-label>
    </ion-item>

    <ion-item type="button" detail="true" (click)="openPPSite()">
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      <ion-label>
        {{"info.privacy__policy" | translate}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" [inset]="true">

    <ion-item>
      <ion-icon slot="start" color="primary" name="heart-outline"></ion-icon>
      <ion-label>
        {{"info.info_description" | translate}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-img src="./../../../assets/sms.png" alt="Swiss Made Software Logo"></ion-img>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="code-outline"></ion-icon>
      <ion-label>
        {{"info.app__version" | translate}} {{appVersion}}({{buildNumber}})
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>