<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{period.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{'common.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{period.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="members"> Mitglieder </ion-segment-button>

    <ion-segment-button value="invoices">
      Rechnungen
      <ng-container *ngIf="invoices$ | async as invoices">
        {{invoices.length}}
      </ng-container>
    </ion-segment-button>
  </ion-segment>

  <!-- Team-Filter Dropdown -->

  <!-- Mitglieder-Sicht -->
  <ng-container *ngIf="segment === 'members'">
    <ion-searchbar
      [debounce]="1000"
      (ionChange)="handleSearch($event)"
      animated="true"
      search-icon="search-circle"
      [value]="searchTerm.value"
      placeholder="Mitglied suchen"
    ></ion-searchbar>

    <ion-list
      [inset]="true"
      *ngIf="filteredClubMembers$ | async as clubMemberList"
    >
      <ion-item>
        <ion-label>Team</ion-label>
        <ion-select
          [(ngModel)]="selectedTeamId"
          interface="popover"
          [cancelText]="'common.cancel' | translate"
        >
          <ion-select-option value="all">Alle</ion-select-option>
          <ion-select-option *ngFor="let team of teams" [value]="team.id"
            >{{team.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-list-header>
        <ion-lablel> Mitglieder </ion-lablel>
        <ion-button (click)="selectAll()"> alle </ion-button>
        <ion-button (click)="deselectAll()"> keine </ion-button>
      </ion-list-header>
      <ion-item-group>
        <ng-container *ngFor="let groupBy of groupArray">
          <ion-item-divider color="light">
            <ion-label> {{groupBy}} </ion-label>
          </ion-item-divider>
          <ng-container *ngFor="let member of clubMemberList">
            <ion-item *ngIf="member.groupBy == groupBy">
              <ion-checkbox
                slot="start"
                labelPlacement="end"
                [checked]="isMemberSelected(member)"
                [disabled]="isMemberInvoiced(member)"
                (ionChange)="toggleMemberSelection(member, $event.detail.checked)"
              >
                {{member.firstName}} {{member.lastName}}
              </ion-checkbox>
              <!-- Team-Beiträge als Badges anzeigen -->
              <ng-container
                *ngFor="let team of getBeitragTeamsForMember(member)"
              >
                <ion-badge slot="end"
                  >{{team.jahresbeitragWert}}
                  {{team.jahresbeitragWaehrung}}</ion-badge
                >
              </ng-container>
              <!-- Warnung, falls kein Beitrag hinterlegt ist -->
              <ion-badge
                slot="end"
                color="warning"
                *ngIf="getBeitragTeamsForMember(member).length === 0 && hasTeamWithoutBeitrag(member)"
              >
                Kein Beitrag im Team hinterlegt!
              </ion-badge>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-item-group>
    </ion-list>
    <ion-item *ngIf="(filteredClubMembers$ | async)?.length === 0">
      <ion-label color="medium">Noch keine Mitglieder vorhanden.</ion-label>
    </ion-item>
  </ng-container>

  <!-- Rechnungen-Sicht -->
  <ng-container *ngIf="segment === 'invoices'">
    <ion-list [inset]="true" lines="none">
      <ion-list-header>
        <ion-label>Datei Upload</ion-label>
      </ion-list-header>

      <ion-item>
        <input type="file" accept=".xml" (change)="onCamtupload($event)" />
      </ion-item>
    </ion-list>
    <ion-note color="medium" class="ion-margin-horizontal">
      Die Datei muss im CAMT.053 Format sein.
    </ion-note>

    <ion-list *ngIf="invoices$ | async as invoices" [inset]="true">
      <ion-list-header>
        <ion-label>Rechnungen</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let invoice of invoices">
        <ion-label (click)="openInvoiceDetail(invoice)">
          {{invoice.firstName}} {{invoice.lastName}}<br />
          <small>{{invoice.amount}} {{invoice.currency}}</small>
        </ion-label>
        <ion-badge slot="end"> {{invoice.status}} </ion-badge>
      </ion-item>
      <ion-item *ngIf="invoices.length === 0">
        <ion-label color="medium">Noch keine Rechnungen vorhanden.</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ion-footer *ngIf="segment === 'members' && selectedMembers.length > 0">
  <ion-toolbar>
    <ion-button fill="clear" (click)="generateInvoicesForSelected()">
      Rechnungen generieren ({{ selectedMembers.length }})
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ng-container *ngIf="segment === 'invoices' && invoices$ | async as invoices">
  <ion-footer
    *ngIf="invoices.length > 0 && filterForDraftInvoices(invoices) > 0"
  >
    <ion-toolbar>
      <ion-button fill="clear" (click)="sendInvoicesForSelected()">
        {{filterForDraftInvoices(invoices)}} Rechnunge(n) versenden
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
