<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="userProfile$ | async as userProfile; else loading">
    <ion-list>
      <ion-list-header>
        <ion-label> Öffentliches Profil </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="{{userProfile.firstName}}"
            src="{{userProfile.profilePicture}}"
          />
        </ion-avatar>
        <ion-label></ion-label>
        <ion-button slot="end" (click)="takePicture()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Vorname </ion-label>
        <ion-input
          readonly
          [(ngModel)]="userProfile.firstName"
          value="{{userProfile.firstName}}"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Nachname </ion-label>
        <ion-input
          readonly
          [(ngModel)]="userProfile.lastName"
          value="{{userProfile.lastName}}"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> E-Mail </ion-label>
        <ion-input
          readonly
          [(ngModel)]="userProfile.email"
          value="{{userProfile.email}}"
        >
        </ion-input>
      </ion-item>

      <ion-list-header *ngIf="clubRequestList.length > 0">
        Offene Club-Anfragen
      </ion-list-header>
      <ion-item *ngFor="let request of clubRequestList">
        {{request.name}}
        <ion-button
          color="danger"
          (click)="deleteClubRequest(request)"
          slot="end"
        >
          <ion-icon icon-only name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list-header *ngIf="teamRequestList.length > 0">
        Offene Team-Anfragen
      </ion-list-header>
      <ion-item *ngFor="let request of teamRequestList">
        {{request.liga}} {{request.name}}
        <ion-button
          color="danger"
          (click)="deleteTeamRequest(request)"
          slot="end"
        >
          <ion-icon icon-only name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list-header>
        <ion-label> Einstellungen </ion-label>
      </ion-list-header>
   <!--
     <ion-item>
       <ion-label position="stacked"> Meine Geräte Id </ion-label>
       <ion-input readonly value="{{deviceId.uuid}}"></ion-input>
      </ion-item>
    --> 

      <ion-item>
        <ion-label position="stacked"> Push-Nachrichten </ion-label>
        <ion-toggle value="{{userProfile?.settingsPush}}" slot="end" [checked]="true" [enableOnOffLabels]="true" (ionChange)="togglePush($event)"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked"> E-Mail-Nachrichten </ion-label>
        <ion-toggle value="{{userProfile?.settingsEmail}}" slot="end" [checked]="true" [enableOnOffLabels]="true" (ionChange)="toggleEmail($event)"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> E-Mail-Nachrichten Reporting</ion-label>
        <ion-toggle value="{{userProfile?.settingsEmailReporting}}" slot="end" [checked]="true" [enableOnOffLabels]="true" (ionChange)="toggleEmailReporting($event)"></ion-toggle>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Registrierte Push Geräte</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
        
            <ion-list>
              <ion-item *ngFor="let device of pushDeviceList">
                <ion-label position="stacked"> {{device?.model}} </ion-label>
                <ion-input readonly value="{{device?.id}}"></ion-input>
                <ion-badge slot="end" *ngIf="device.id==deviceId.uuid">aktuelles Gerät</ion-badge>
              </ion-item>    
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-item>
        <ion-label color="danger">Danger Zone: Profil löschen</ion-label>
        <ion-button  slot="end" color="danger" (click)="deleteProfile()">
          <ion-icon slot="icon-only" name="trash"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>



  </ng-container>

  <!-- 
  <ng-container *ngIf="clubList$ | async as clubList; else loadingClub">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Meine Clubs
        </ion-label>
        <ion-button>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let club of clubList">
        <ion-label>
          {{club.id}}
        </ion-label>
        <ion-button slot="end">
          <ion-icon slot="icon-only"  color="danger" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="teamList$ | async as teamList; else loadingTeams">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Meine Teams
        </ion-label>
        <ion-button >
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let team of teamList">
        <ion-label>
         {{team.id}}
        </ion-label>
        <ion-button slot="end">
          <ion-icon slot="icon-only"   color="danger" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>
-->
 
</ion-content>
<ng-template #loading>
  <!-- Bubbles -->
  <ion-spinner name="bubbles"></ion-spinner>
</ng-template>

<ng-template #loadingClub>
  <ion-text> loading </ion-text>
</ng-template>

<ng-template #loadingTeams>
  <ion-text> loading </ion-text>
</ng-template>
