<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'common.profile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'common.profile' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="userProfile$ | async as userProfile; else loading">
    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{"profile.generally" | translate}} </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img alt="{{userProfile.firstName}}" src="{{userProfile.profilePicture}}" />
        </ion-avatar>
        <ion-label></ion-label>
        <ion-button slot="end" (click)="takePicture()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="stacked" [label]='"common.first__name" | translate'
          attr.aria-label='{{"common.first__name" | translate}}' readonly [(ngModel)]="userProfile.firstName"
          value="{{userProfile.firstName}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="stacked" [label]='"common.last__name" | translate'
          attr.aria-label='{{"common.last__name" | translate}}' readonly [(ngModel)]="userProfile.lastName"
          value="{{userProfile.lastName}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="stacked" [label]='"profile.email" | translate'
          attr.aria-label='{{"profile.email" | translate}}' readonly [(ngModel)]="userProfile.email"
          value="{{userProfile.email}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select [label]="'profile.language' | translate" [(ngModel)]="userProfile.language"
          (ionChange)="languageChange($event)" [placeholder]="'profile.select__language' | translate">
          <ion-select-option value="de">{{"common.language__german" | translate}}</ion-select-option>
          <ion-select-option value="fr">{{"common.language__french" | translate}}</ion-select-option>
          <ion-select-option value="it">{{"common.language__italian" | translate}}</ion-select-option>
          <ion-select-option value="en">{{"common.language__english" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="clubRequestList.length > 0" lines="full" [inset]="true">
      <ion-list-header>
        {{ "profile.open__club_inquiry" | translate}}
      </ion-list-header>
      <ion-item *ngFor="let request of clubRequestList">
        {{request.name}}
        <ion-button color="danger" (click)="deleteClubRequest(request)" slot="end">
          <ion-icon icon-only name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="teamRequestList.length > 0" lines="full" [inset]="true">
      <ion-list-header>
        {{"profile.open__team_request" | translate}}
      </ion-list-header>
      <ion-item *ngFor="let request of teamRequestList">
        {{request.liga}} {{request.name}}
        <ion-button color="danger" (click)="deleteTeamRequest(request)" slot="end">
          <ion-icon icon-only name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{"profile.notifications" | translate}} </ion-label>
      </ion-list-header>
      <!--
     <ion-item>
       <ion-label position="stacked"> Meine Geräte Id </ion-label>
       <ion-input readonly value="{{deviceId.uuid}}"></ion-input>
      </ion-item>
    -->

      <ion-item>
        <ion-toggle labelPlacement="stacked" attr.aria-label='{{"profile.push__message" | translate}}'
          value="{{userProfile?.settingsPush}}" slot="end" [checked]="userProfile.settingsPush"
          [enableOnOffLabels]="true" (ionChange)="togglePush($event)"></ion-toggle>
        {{"profile.push__message" | translate}}
      </ion-item>

      <ion-item>
        <ion-toggle labelPlacement="stacked" attr.aria-label='{{"profile.email__messages" | translate}}'
          value="{{userProfile?.settingsEmail}}" slot="end" [checked]="userProfile.settingsEmail"
          [enableOnOffLabels]="true" (ionChange)="toggleEmail($event)"></ion-toggle>
        {{"profile.email__messages" | translate}}
      </ion-item>

      <ion-item>
        <ion-toggle labelPlacement="stacked" attr.aria-label='{{"profile.email__messages_report" | translate}}'
          value="{{userProfile?.settingsEmailReporting}}" slot="end" [checked]="userProfile.settingsEmailReporting"
          [enableOnOffLabels]="true" (ionChange)="toggleEmailReporting($event)"></ion-toggle>
        {{"profile.email__messages_report" | translate}}
      </ion-item>

    </ion-list>

    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        {{"profile.push__notifications" | translate}}
      </ion-list-header>
      <ion-accordion-group *ngIf="pushDeviceList.length > 0">
        <ion-accordion value="pushDeviceList">
          <ion-item slot="header" color="light">
            <ion-label>{{"profile.push__notifications_devices" | translate}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item *ngFor="let device of pushDeviceList">
                <ion-input labelPlacement="stacked" label="Model {{device?.model}}" aria-label="device?.model" readonly
                  value="Id: {{device?.id}}"></ion-input>
                <ion-button color="danger" (click)="deletePushDevice(device.id)">
                  <ion-icon slot="icon-only" name="trash"> </ion-icon>
                </ion-button>
                <ion-badge slot="end" *ngIf="device.id==deviceId.identifier">{{"profile.current__device" |
                  translate}}</ion-badge>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-item>
        <ion-button (click)="registerDevice()"> {{"profile.push__registeration" | translate}} </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="full" [inset]="true">
      <ion-item>
        <ion-label color="danger">{{'profile.delete__profile' | translate}}</ion-label>
        <ion-button slot="end" color="danger" (click)="deleteProfile()">
          <ion-icon slot="icon-only" name="trash"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- 
  <ng-container *ngIf="clubList$ | async as clubList; else loadingClub">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Meine Clubs
        </ion-label>
        <ion-button>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let club of clubList">
        <ion-label>
          {{club.id}}
        </ion-label>
        <ion-button slot="end">
          <ion-icon slot="icon-only"  color="danger" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="teamList$ | async as teamList; else loadingTeams">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Meine Teams
        </ion-label>
        <ion-button >
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let team of teamList">
        <ion-label>
         {{team.id}}
        </ion-label>
        <ion-button slot="end">
          <ion-icon slot="icon-only"   color="danger" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>
-->
</ion-content>
<ng-template #loading>
  <!-- Bubbles -->
  <ion-spinner name="bubbles"></ion-spinner>
</ng-template>

<ng-template #loadingClub>
  <ion-text> {{"common.loading" | translate}} </ion-text>
</ng-template>

<ng-template #loadingTeams>
  <ion-text> {{"common.loading" | translate}} </ion-text>
</ng-template>