<ion-content>
  <ion-grid class="ion-no-padding" style="height: 100vh">
    <ion-row style="min-height: 100vh">
      <!-- Reset Password Form Column -->
      <ion-col
        size-md="6"
        size-lg="5"
        style="display: flex; align-items: center; justify-content: center"
      >
        <ion-card class="ion-no-margin" style="max-width: 500px; width: 100%">
          <ion-card-content>
            <ion-img
              src="assets/logo_trans.png"
              alt="Logo"
              style="max-height: 100px; max-width: 100px"
            ></ion-img>
            <ion-card-title
              >{{'common.forget__password' | translate}}</ion-card-title
            >
            <ion-text>
              <p>
                {{'common.or' | translate}}
                <ion-router-link routerLink="/login" class="ion-text-primary">
                  {{'reset-password.try__login_again' | translate}}
                </ion-router-link>
              </p>
            </ion-text>
            <!-- Reset Password Form Content Here -->
            <form
              [formGroup]="authForm"
              (keyup.enter)="submitCredentials(authForm)"
            >
              <ion-list [inset]="true">
                <ion-item lines="full">
                  <ion-input
                    label="{{'common.email__address' | translate}}"
                    labelPlacement="floating"
                    type="email"
                    formControlName="email"
                    required
                    placeholder="{{'common.email__address' | translate}}"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <ion-button
                (click)="submitCredentials(authForm)"
                expand="block"
                type="submit"
                class="ion-margin-top"
              >
                {{'reset-password.reset__password' | translate}}
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Image Column -->
      <ion-col
        size-md="6"
        size-lg="7"
        style="padding: 0"
        class="ion-hide-md-down"
      >
        <div
          style="
            height: 100%;
            background-image: url(&quot;assets/bg/reset-password.jpg&quot;);
            background-size: cover;
            background-position: center;
          "
        ></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
