<ion-content>
  
  <ion-content>
    <ion-grid class="ion-no-padding" style="height: 100vh;">
      <ion-row style="height: 100%;">
        <!-- Reset Password Form Column -->
        <ion-col size-md="6" size-lg="5" style="display: flex; align-items: center; justify-content: center;">
          <ion-card class="ion-no-margin" style="max-width: 500px; width: 100%;">
            <ion-card-content>
              <ion-img src="assets/logo_trans.png" alt="Logo" style="max-height: 100px; max-width: 100px;"></ion-img>
              <ion-card-title>{{'common.forget__password' | translate}}</ion-card-title>
              <ion-text>
                <p>
                  {{'or' | translate}}
                  <ion-router-link routerLink="/login" class="ion-text-primary">
                    {{'reset-password.try__login_again' | translate}}
                  </ion-router-link>
                </p>
              </ion-text>
              <!-- Reset Password Form Content Here -->
              <form [formGroup]="authForm">
                <ion-list [inset]="true">

                  <ion-item lines="full">
                    <ion-input labelPlacement="floating" label="{{'common.email__address' | translate}}" type="email" formControlName="email" required></ion-input>
                  </ion-item>
                </ion-list>
                <ion-button (click)="submitCredentials(authForm)" expand="block" type="submit" class="ion-margin-top">
                {{'reset-password.reset__password' | translate}}
              </ion-button>
                  
              </form>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- Image Column -->
        <ion-col size-md="6" size-lg="7" style="padding: 0;" class="ion-hide-md-down">
          <ion-img
            src="assets/bg/mountain-5.jpg"
            alt="{{'common.mountain_background__alt' | translate}}"
            style="height: 100%; width: 100%; object-fit: cover;">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  
  
  <!--
  <div class="min-h-screen bg-white flex">
    <div
      class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <picture>
            <source
              srcset="assets/logo_trans.png"
              media="(prefers-color-scheme: dark)"
            />
            <source
              srcset="assets/logo_trans.png"
              media="(prefers-color-scheme: light)"
            />
            <img class="h-12 w-auto" src="assets/logo_trans.png" alt="Logo" />
          </picture>

          <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
            {{"common.forget__password"| translate}}
          </h2>
          <p class="mt-2 text-sm text-gray-600">
            {{"or"| translate}}
            <span
              routerLink="/login"
              class="font-medium text-myclublight hover:text-myclubdark"
            >
              {{"reset-password.try__login_again"| translate}}
            </span>
          </p>
        </div>

        <div class="mt-8">
          <div class="mt-6">
            <form class="space-y-6" [formGroup]="authForm">
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-900"
                >
                  {{"common.email__address"| translate}}
                </label>
                <div class="mt-1">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    formControlName="email"
                    required
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:text-black"
                  />
                </div>
              </div>

              <div class="flex items-center justify-between">
              </div>

              <div>
                <button
                  (click)="submitCredentials(authForm)"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white dark:text-white bg-myclublight dark:bg-myclubdark hover:bg-myclubdark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bg-myclubdark"
                >
                  {{"reset-password.reset__password"| translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src="assets/bg/mountain-5.jpg"
        [alt]='"common.mountain_background__alt" | translate'
      />
    </div>
  </div>-->
</ion-content>
