<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"common.subscription" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"common.subscription" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="club$ | async as club">


    <ion-list [inset]="true" lines="none">
      <ion-list-header>
        Abonnement kaufen
      </ion-list-header>
      <ion-item detail (click)="openUrl('https://my-club.app/pricing')">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label class="ion-text-wrap">
          Finde dein passendes Abonnement für deinen Verein {{club.name}}
        </ion-label>
      </ion-item>
      <ng-container *ngIf="products$ | async as productList">
        <ion-accordion-group *ngFor="let product of productList">
          <ion-accordion [value]=product.id>
            <ion-item slot="header" color="light">
              <ion-label>{{product.name}}</ion-label>
              <ion-icon *ngIf="product.stripe_metadata_subscription==club.subscriptionType" slot="start"
                color="success" name="checkmark-circle-outline"></ion-icon>

                <ion-icon *ngIf="product.stripe_metadata_subscription!==club.subscriptionType" slot="start"
                color="primary" name="heart-outline"></ion-icon>

                

            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-note color="success"
              *ngIf="product.stripe_metadata_subscription==club.subscriptionType">Dieses Modul wurde
                bereits aktiviert.</ion-note>
            
  
              <ng-container *ngIf="product.stripe_metadata_subscription!=club.subscriptionType">
                <ion-label class="ion-text-wrap">{{product.description}}</ion-label>
                <ion-list>
                  <ion-item *ngFor="let price of product.prices" detail (click)="checkout(price, product)">
                    <ion-label *ngIf="price.stripe_metadata_payment=='month'">Preis / {{"common.month" | translate}}
                    </ion-label>
                    <ion-label *ngIf="price.stripe_metadata_payment=='year'">Preis / {{"common.year" | translate}}
                    </ion-label>
                    <ion-badge slot="end">{{price.currency_upper}} {{price.unit_amount}} </ion-badge>
                  </ion-item>
                </ion-list>
              </ng-container>
  
  
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
  
    </ion-list>
  
  
    <ion-list [inset]="true" lines="none">
      <ion-list-header>
        Zusatzmodule kaufen
      </ion-list-header>
      <ion-item detail (click)="openUrl('https://my-club.app/pricing')">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label class="ion-text-wrap">
          Du bezahlst nichts, was du nicht brauchst. Mit unseren Zusatzmodulen kannst du my club deinen persönlichen
          Bedürfnissen anpassen.
        </ion-label>
      </ion-item>
      <ng-container *ngIf="modules$ | async as moduleList">
        <ion-accordion-group *ngFor="let module of moduleList">
          <ion-accordion [value]=module.id>
            <ion-item slot="header" color="light">
              <ion-label>{{module.name}}</ion-label>
              <ion-icon *ngIf="module.stripe_metadata_addon=='training' && club.hasFeatureTrainingExercise" slot="start"
                color="success" name="checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="module.stripe_metadata_addon=='helfer' && club.hasFeatureHelferEvent" slot="start"
                color="success" name="checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="module.stripe_metadata_addon=='championship' && club.hasFeatureChampionship" slot="start"
                color="success" name="checkmark-circle-outline"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-note color="success"
                *ngIf="module.stripe_metadata_addon=='training' && club.hasFeatureTrainingExercise">Dieses Modul wurde
                bereits aktiviert.</ion-note>
              <ion-note color="success"
                *ngIf="module.stripe_metadata_addon=='helfer' && club.hasFeatureHelferEvent">Dieses Modul wurde bereits
                aktiviert.</ion-note>
              <ion-note color="success"
                *ngIf="module.stripe_metadata_addon=='championship' && club.hasFeatureChampionship">Dieses Modul wurde
                bereits aktiviert.</ion-note>

              <ng-container *ngIf="( module.stripe_metadata_addon=='training' && !club.hasFeatureTrainingExercise ) ||
              ( module.stripe_metadata_addon=='helfer' && !club.hasFeatureHelferEvent ) ||
              ( module.stripe_metadata_addon=='championship' && !club.hasFeatureChampionship )">
                <ion-label class="ion-text-wrap">{{module.description}}</ion-label>
                <ion-list>
                  <ion-item *ngFor="let price of module.prices" detail (click)="checkoutAddon(price, module)">
                    <ion-label *ngIf="price.stripe_metadata_payment=='month'">Preis / {{"common.month" | translate}}
                    </ion-label>
                    <ion-label *ngIf="price.stripe_metadata_payment=='year'">Preis / {{"common.year" | translate}}
                    </ion-label>
                    <ion-badge slot="end">{{price.currency_upper}} {{price.unit_amount}} </ion-badge>
                  </ion-item>
                </ion-list>
              </ng-container>


            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>

    </ion-list>

    <!--
  <ng-container *ngIf="modules$ | async as moduleList">
    <ng-container *ngFor="let module of moduleList">
      <ion-list [inset]="true">
        <ion-list-header>
          <ion-label class="ion-text-wrap">
            <ion-icon slot="start" [name]="module.stripe_metadata_icon"></ion-icon>
            {{module.name}}
          </ion-label>
          <ion-icon slot="end" color="success" name="checkmark-circle"></ion-icon>
        </ion-list-header>
        <ion-item>
          <ion-label class="ion-text-wrap">{{module.description}}</ion-label>
          <ion-badge slot="end"> </ion-badge>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let price of module.prices" detail (click)="checkoutAddon(price, module)">
            <ion-label *ngIf="price.stripe_metadata_payment=='month'">Preis / {{"common.month" | translate}}
            </ion-label>
            <ion-label *ngIf="price.stripe_metadata_payment=='year'">Preis / {{"common.year" | translate}}
            </ion-label>
            <ion-badge slot="end">{{price.currency_upper}} {{price.unit_amount}} </ion-badge>
          </ion-item>
        </ion-list>
      </ion-list>
    </ng-container>
  </ng-container>
  -->









    <ng-container *ngIf="hasAcitveSubscription(club['subscriptions']).length === 0">

      <ion-list [inset]="true">
        <ion-list-header>
          Abonnement kaufen
        </ion-list-header>
        <ion-item detail (click)="openUrl('https://my-club.app/pricing')">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Finde dein passendes Abonnement für deinen Verein {{club.name}}
          </ion-label>

        </ion-item>
      </ion-list>


      <ng-container *ngIf="products$ | async as productList">
        <ng-container *ngFor="let product of productList">
          <ion-list [inset]="true">
            <ion-list-header>
              <ion-label class="ion-text-wrap">
                <ion-avatar slot="start">
                  <img [alt]="product.name" [src]="product.images[0]" />
                </ion-avatar>
                {{product.name}}
              </ion-label>

            </ion-list-header>
            <ion-item>
              <ion-label class="ion-text-wrap">{{product.description}}</ion-label>
              <ion-badge slot="end"> </ion-badge>
            </ion-item>
            <ion-list>
              <ion-item *ngFor="let price of product.prices" detail (click)="checkout(price, product)">
                <ion-label *ngIf="price.stripe_metadata_payment=='month'">Preis / {{"common.month" | translate}}
                </ion-label>
                <ion-label *ngIf="price.stripe_metadata_payment=='year'">Preis / {{"common.year" | translate}}
                </ion-label>
                <ion-badge slot="end">{{price.currency_upper}} {{price.unit_amount}} </ion-badge>
              </ion-item>
            </ion-list>
          </ion-list>
        </ng-container>

      </ng-container>
    </ng-container>

    <ion-list [inset]="true" *ngIf="club['subscriptions'].length > 0">
      <ion-list-header>
        Bestellverlauf
      </ion-list-header>
        <ion-item  *ngFor="let subscription of club['subscriptions']"  detail (click)="openUrl(subscription.invoices[0].invoice_pdf)">
          <ion-label> 
            <h3>{{subscription.product.description}}</h3>
            <h3>{{"common.created" | translate}}: {{subscription.created.toDate() | date:'dd.MM.YYYY'}} </h3>
            <h3 *ngIf="subscription.ended_at">{{"common.ended_at" | translate}}: {{subscription.ended_at.toDate() |
              date:'dd.MM.YYYY'}}</h3>
            <ng-container *ngIf="subscription.status=='active'">
              <h3>{{"common.current_period_start" | translate}}: {{subscription.current_period_start.toDate() |
                date:'dd.MM.YYYY'}} </h3>
              <h3>{{"common.current_period_end" | translate}}: {{subscription.current_period_end.toDate() |
                date:'dd.MM.YYYY'}}</h3>
            </ng-container>
          </ion-label>
          <ion-badge *ngIf="subscription.status=='active'" color="success">
            {{"common.active" | translate}}
          </ion-badge>
          <ion-badge *ngIf="subscription.status=='canceled'" color="danger">
            {{"common.canceled" | translate}}
          </ion-badge>

        </ion-item>
    </ion-list>

<!--
    
    <ion-list *ngFor="let subscription of club['subscriptions']" [inset]="true">
      <ion-list-header>
        {{subscription.product.name}}
      </ion-list-header>

      <ng-container>
        <ion-item>
          <ion-label>
            <h3>{{subscription.product.description}}</h3>
            <h3>{{"common.created" | translate}}: {{subscription.created.toDate() | date:'dd.MM.YYYY'}} </h3>
            <h3 *ngIf="subscription.ended_at">{{"common.ended_at" | translate}}: {{subscription.ended_at.toDate() |
              date:'dd.MM.YYYY'}}</h3>
            <ng-container *ngIf="subscription.status=='active'">
              <h3>{{"common.current_period_start" | translate}}: {{subscription.current_period_start.toDate() |
                date:'dd.MM.YYYY'}} </h3>
              <h3>{{"common.current_period_end" | translate}}: {{subscription.current_period_end.toDate() |
                date:'dd.MM.YYYY'}}</h3>
            </ng-container>
          </ion-label>
          <ion-badge *ngIf="subscription.status=='active'" color="success">
            {{"common.active" | translate}}
          </ion-badge>
          <ion-badge *ngIf="subscription.status=='canceled'" color="danger">
            {{"common.canceled" | translate}}
          </ion-badge>

        </ion-item>
       
        <ion-item *ngFor="let invoice of subscription.invoices" detail (click)="openUrl(invoice.invoice_pdf)">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label> Rechnung ansehen
          </ion-label>
          <ion-badge *ngIf="invoice.status=='paid'" color="success" slot="end">
            {{"common.paid" | translate}}
          </ion-badge>
        </ion-item>
      </ng-container>

    </ion-list>
    -->
  </ng-container>


</ion-content>
<ng-template #noRequests>
  <!-- You can put any placeholder or message here if needed when there are no requests -->
</ng-template>