<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/App.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>app.myclub.default</string>
		<key>CFBundleShortVersionString</key>
		<string>1.9.0</string>
		<key>CFBundleVersion</key>
		<string>138</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Sandro Scalco (N9JCG9Q9DS)</string>
		<key>Team</key>
		<string>U7DQUX87VS</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-04-08T06:39:39Z</date>
	<key>Name</key>
	<string>App</string>
	<key>SchemeName</key>
	<string>App</string>
</dict>
</plist>
