<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{"news"| translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="training">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>{{"training"| translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="championship">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>{{"common.championship"| translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{"events" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="helfer">
      <ion-icon name="help-buoy-outline"></ion-icon>
      <ion-label>{{"helper" | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
