<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="training">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Training</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="championship">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>championship</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>;
