<ng-container *ngIf="club$ | async as club">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button *ngIf="!allowEdit" (click)="edit()"
          >{{"common.edit" | translate}}</ion-button
        >
        <ion-button *ngIf="allowEdit" (click)="edit()"
          >{{"common.cancel" | translate}}</ion-button
        >
      </ion-buttons>
      <ion-title>Club Details</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="close()"
          >{{"common.close" | translate}}</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Club Admins</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label> {{"common.admins" | translate}} </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let member of club['clubAdmins']" detail="true">
        <ion-avatar slot="start">
          <img src="{{member?.profilePicture}}" />
        </ion-avatar>
        <ion-label class="ion-text-wrap" (click)="openMember(member)"
          >{{member.firstName}} {{member.lastName}}</ion-label
        >
      </ion-item>
    </ion-list>


  </ion-content>
</ng-container>
<ng-template #noRequests>
  <!-- You can put any placeholder or message here if needed when there are no requests -->
</ng-template>
