<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">schliessen</ion-button>
    </ion-buttons>
    <ion-title>Veranstaltung erstellen</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="createevent()">erstellen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>

    <ion-item>
      <ion-select label="Club" label-placement="stacked" [(ngModel)]="event.clubId" value="{{event.clubId}}" >
        <ion-select-option *ngFor="let club of clubList" value="{{club.id}}">{{club.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Team" label-placement="stacked" [(ngModel)]="event.teamId" value="{{event.teamId}}" >
        <ion-select-option *ngFor="let team of teamList" value="{{team.id}}">{{team.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Name" label-placement="stacked" [(ngModel)]="event.name" value="{{event.name}}">
      </ion-input>
    </ion-item>
    <ion-item>
     
      <ion-textarea
      label="Beschreibung" label-placement="stacked"
        value="{{event.description}}" [(ngModel)]="event.description"
      >
      </ion-textarea>
    </ion-item>
    <ion-item>
    
      <ion-input
      label="Strasse & Hausnummer" label-placement="stacked"
        value="{{event.streetAndNumber}}" [(ngModel)]="event.streetAndNumber"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      label="Postleitzahl" label-placement="stacked"
        value="{{event.postalCode}}" [(ngModel)]="event.postalCode"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Ortschaft" label-placement="stacked" value="{{event.city}}" [(ngModel)]="event.city">
      </ion-input>
    </ion-item>


    <ion-item id="timeFromItem">
      <ion-label position=""> Start Veranstaltung: </ion-label>
      <ion-datetime-button slot="end" datetime="timeFrom"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="time" id="timeFrom" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" value="{{event.timeFrom}}" [(ngModel)]="event.timeFrom"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="timeToItem">
      <ion-label position=""> Ende Veranstaltung: </ion-label>
      <ion-datetime-button slot="end" datetime="timeTo"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="time" id="timeTo" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" value="{{event.timeTo}}" [(ngModel)]="event.timeTo"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="startDateItem">
      <ion-label position="default"> Startdatum: </ion-label>
      <ion-datetime-button slot="end" datetime="startDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [firstDayOfWeek]="1" presentation="date" id="startDate"
          value="{{event.startDate}}" [(ngModel)]="event.startDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>


    <ion-item id="endDateItem">
      <ion-label position="default"> Enddatum: </ion-label>
      <ion-datetime-button slot="end" datetime="endDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [firstDayOfWeek]="1" presentation="date" id="endDate"
          value="{{event.endDate}}" [(ngModel)]="event.endDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
