<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{"event-add.new__event" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button strong="true" (click)="createEvent()"
        >{{"common.create" | translate}}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"event-add.new__event" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <div *ngIf="clubAdminList$ | async as clubList">
      <ion-item *ngIf="clubList.length > 1">
        <ion-select
          [label]='"common.club" | translate'
          label-placement="stacked"
          [(ngModel)]="event.clubId"
          value="{{event.clubId}}"
        >
          <ion-select-option *ngFor="let club of clubList" value="{{club.id}}"
            >{{club.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>

    <!--<ion-item *ngIf="clubList.length==0">
      <ion-select cancel-text="Abbrechen" ok-text="Auswählen" label="Club" label-placement="stacked" [(ngModel)]="event.clubId" value="{{event.clubId}}" >
        <ion-select-option disabled="true" *ngFor="let club of clubList" value="{{club.id}}">{{club.name}}</ion-select-option>
      </ion-select>
    </ion-item>-->

    <ion-item>
      <ion-input
        [label]='"common.name" | translate'
        label-placement="stacked"
        [(ngModel)]="event.name"
        value="{{event.name}}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        [label]='"common.description" | translate'
        label-placement="stacked"
        value="{{event.description}}"
        [(ngModel)]="event.description"
      >
      </ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-input
        [label]='"common.location" | translate'
        label-placement="stacked"
        value="{{event.location}}"
        [(ngModel)]="event.location"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [label]='"common.street__house_number" | translate'
        label-placement="stacked"
        value="{{event.streetAndNumber}}"
        [(ngModel)]="event.streetAndNumber"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [label]="'common.postal__code' | translate"
        label-placement="stacked"
        value="{{event.postalCode}}"
        [(ngModel)]="event.postalCode"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [label]='"common.locality" | translate'
        label-placement="stacked"
        value="{{event.city}}"
        [(ngModel)]="event.city"
      >
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item id="timeFromItem">
      <ion-label position="">
        {{"common.start__event" | translate}}:
      </ion-label>
      <ion-datetime-button slot="end" datetime="timeFrom"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            presentation="time"
            id="timeFrom"
            (ionChange)="changeTimeFrom($event)"
            minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
            value="{{event.timeFrom}}"
            [(ngModel)]="event.timeFrom"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="timeToItem">
      <ion-label position=""> {{"common.end__event" | translate}}: </ion-label>
      <ion-datetime-button slot="end" datetime="timeTo"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            presentation="time"
            id="timeTo"
            minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
            value="{{event.timeTo}}"
            [(ngModel)]="event.timeTo"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="startDateItem">
      <ion-label position="default">
        {{"common.start__date" | translate}}:
      </ion-label>
      <ion-datetime-button
        slot="end"
        datetime="startDate"
      ></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            [firstDayOfWeek]="1"
            (ionChange)="changeStartDate($event)"
            presentation="date"
            id="startDate"
            value="{{event.startDate}}"
            [(ngModel)]="event.startDate"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item id="endDateItem">
      <ion-label position="default">
        {{"common.end__date" | translate}}:
      </ion-label>
      <ion-datetime-button slot="end" datetime="endDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            [firstDayOfWeek]="1"
            presentation="date"
            id="endDate"
            value="{{event.endDate}}"
            [(ngModel)]="event.endDate"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
