<ion-app>
  <ion-split-pane contentId="main" [hidden]="hidden">
    <!--  the side menu  -->
    <ion-menu menuId="menu" contentId="main" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Navigation</ion-list-header>
          <!--<ion-note>{{displayName}}</ion-note>-->

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="'/home/timeline'">
              <ion-icon slot="start" name="time-outline"></ion-icon>
              <ion-label>Timeline</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="'/home/news'">
              <ion-icon slot="start" name="newspaper-outline"></ion-icon>
              <ion-label>News</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="'/home/training'">
              <ion-icon slot="start" name="barbell"></ion-icon>
              <ion-label>Training</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="'/home/championship'">
              <ion-icon slot="start" name="trophy-outline"></ion-icon>
              <ion-label>Meisterschaft</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-padding">
        <ion-note> &copy; 2021 liitu consulting gmbh. </ion-note>
      </ion-footer>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
