<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Club List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Club List</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Open Accordion -->
  <ion-accordion-group value="type">

    <ion-accordion value="swissunihockey">
      <ion-item slot="header">
        <ion-label>Swiss Unihockey ({{suClubList.length}})</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let club of suClubList">
          <ion-label>
            {{club.name}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="swissvolley">
      <ion-item slot="header">
        <ion-label>Swiss Volley ({{svClubList.length}})</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let club of svClubList">
          <ion-label>
            {{club.name}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
