<ion-header>
  <ion-toolbar>
    <ion-title>Meisterschaft</ion-title>

    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meisterschaft</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" size="large" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="games">
      <ion-label>Spiele</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ranking">
      <ion-label>Tabelle</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stats">
      <ion-label>Statistik</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-list-header>
      <ion-label>Aktuelle Spiele</ion-label>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xs="12" size-sm="6" size-lg="6" *ngFor="let i of skeletonList">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-xs="12" size-sm="6" size-lg="6" *ngFor="let game of gamesList">
          <ion-card button="true" type="button">
            <ion-img class="{{game.status}}" (click)="openDetail(game)"> </ion-img>
            <ion-card-header (click)="openDetail(game)">
              <ion-card-subtitle>
                <ion-badge>{{game?.group}}</ion-badge>
              </ion-card-subtitle>
              <ion-card-title>{{game?.teamHome}} vs {{game?.teamAway}}</ion-card-title>
              <ion-card-subtitle>{{game?.date}} {{game?.time}} | {{game?.sportshall}} in {{game?.location}}</ion-card-subtitle>
            </ion-card-header>
            <ion-footer>
              <ion-row>
                <ion-col center text-center>
                  <ion-fab>
                    <ion-fab-button size="small" color="success" (click)="acceptGame(game)">
                      <ion-icon size="small" name="thumbs-up"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-col>
                <ion-col center text-center>
                  <!-- <ion-badge>{{game?.membersAccepted}} / {{game?.membersRejected}}</ion-badge>-->
                </ion-col>
                <ion-col center text-center>
                  <ion-fab horizontal="start">
                    <ion-fab-button size="small" color="danger" (click)="rejectGame(game)">
                      <ion-icon size="small" name="thumbs-down"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-col>
              </ion-row>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Vergangene Spiele</ion-label>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xs="12" size-sm="6" size-lg="6" *ngFor="let i of skeletonList">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-xs="12" size-sm="6" size-lg="6" *ngFor="let game of gamesListPast">
          <ion-card button="true" type="button">
            <ion-img class="{{game.status}}" (click)="openDetail(game)"> </ion-img>
            <ion-card-header (click)="openDetail(game)">
              <ion-card-subtitle>
                <ion-badge>{{game?.group}}</ion-badge>
              </ion-card-subtitle>
              <ion-card-title>{{game?.teamHome}} vs {{game?.teamAway}}</ion-card-title>
              <ion-card-subtitle>{{game?.date}} {{game?.time}} | {{game?.sportshall}} in {{game?.location}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="openDetail(game)"> </ion-card-content>
            <ion-footer>
              <ion-row>
                <ion-col center text-center>
                  <ion-fab>
                    <ion-fab-button size="small" color="success" (click)="acceptGame(game)">
                      <ion-icon size="small" name="thumbs-up"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-col>
                <ion-col center text-center>
                  <ion-badge>{{game?.membersAccepted}} / {{game?.membersRejected}}</ion-badge>
                </ion-col>
                <ion-col center text-center>
                  <ion-fab horizontal="start">
                    <ion-fab-button size="small" color="danger" (click)="rejectGame(game)">
                      <ion-icon size="small" name="thumbs-down"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-col>
              </ion-row>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
