<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{game?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <capacitor-google-map *ngIf="game.longitude" id="map"></capacitor-google-map>
  <ion-list>
    <ion-item>
      <ng-container *ngIf="game.hasOwnProperty('status'); else loading">
        <ion-fab-button
          (click)="toggle(true, game)"
          size="small"
          color="warning"
          slot="start"
          *ngIf="game.status === null"
        >
          <ion-icon name="help-circle"> </ion-icon>
        </ion-fab-button>

        <ion-fab-button
          (click)="toggle(true, game)"
          size="small"
          color="danger"
          slot="start"
          *ngIf="game.status === false"
        >
          <ion-icon name="close-circle"> </ion-icon>
        </ion-fab-button>

        <ion-fab-button
          (click)="toggle(false, game)"
          size="small"
          color="success"
          slot="start"
          *ngIf="game.status === true"
        >
          <ion-icon name="checkmark-circle"> </ion-icon>
        </ion-fab-button>

        <ion-label>Mein Status</ion-label>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="{{game.teamHomeLogo}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{game.teamHome}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{game.teamAwayLogo}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{game.teamAway}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{game.description}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="time-outline"></ion-icon>
      <ion-label>
        <h2>{{game.date}} {{game.time}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{game.location}} {{game.city}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{game.liga}} {{game.teamName}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="attendeeListTrue.length>0">
    <ion-list-header>
      Anmeldungen: {{attendeeListTrue.length}}
    </ion-list-header>
    <ion-item *ngFor="let member of attendeeListTrue">
      <ion-icon
        color="warning"
        slot="start"
        *ngIf="member.status === null"
        name="help-circle"
      >
      </ion-icon>
      <ion-icon
        color="danger"
        slot="start"
        *ngIf="member.status === false"
        name="close-circle"
      >
      </ion-icon>
      <ion-icon
        color="success"
        slot="start"
        *ngIf="member.status === true"
        name="checkmark-circle"
      >
      </ion-icon>

      <ion-label>{{member?.firstName}} {{member?.lastName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="attendeeListFalse.length>0">
    <ion-list-header>
      Abmeldungen: {{attendeeListFalse.length}}
    </ion-list-header>
    <ion-item *ngFor="let member of attendeeListFalse">
      <ion-icon
        color="warning"
        slot="start"
        *ngIf="member.status === null"
        name="help-circle"
      >
      </ion-icon>
      <ion-icon
        color="danger"
        slot="start"
        *ngIf="member.status === false"
        name="close-circle"
      >
      </ion-icon>
      <ion-icon
        color="success"
        slot="start"
        *ngIf="member.status === true"
        name="checkmark-circle"
      >
      </ion-icon>

      <ion-label>{{member?.firstName}} {{member?.lastName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
