<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{team?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{team.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="requestList$ | async as requests; else noRequests">
    <ion-list *ngIf="requests.length > 0">
      <ion-list-header> Anfragen </ion-list-header>
      <ion-item *ngFor="let request of requests">
        <ion-avatar slot="start">
          <img [src]="request?.profilePicture" />
        </ion-avatar>
        <ion-label> {{request?.firstName}} {{request?.lastName}} </ion-label>
        <ion-button color="danger" (click)="deleteTeamRequest(request)" slot="end">
          <ion-icon icon-only name="trash"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="approveTeamRequest(request)" slot="end">
          <ion-icon icon-only name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-list >
    <ion-list-header> Mitglieder </ion-list-header>
    <ion-item *ngFor="let member of memberList$ | async">
      <ion-avatar slot="start">
        <img src="{{member?.profilePicture}}" />
      </ion-avatar>
      <ion-label> {{member?.firstName}} {{member?.lastName}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-list-header> Administratoren </ion-list-header>
    <ion-item *ngFor="let admin of adminList$ | async">
      <ion-avatar slot="start">
        <img src="{{admin?.profilePicture}}" />
      </ion-avatar>
      <ion-label> {{admin?.firstName}} {{admin?.lastName}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<ng-template #noRequests>
  <!-- You can put any placeholder or message here if needed when there are no requests -->
</ng-template>
