<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
      <ion-buttons *ngIf="isClubAdmin(clubAdminList, clubId)" slot="secondary">
        <ion-button *ngIf="!allowEdit" (click)="edit()">{{"common.edit" | translate}}</ion-button>
        <ion-button *ngIf="allowEdit" (click)="edit()">{{"common.done" | translate}}</ion-button>
      </ion-buttons>
    </ng-container>
    <ion-title>{{ member.profile.firstName }} {{ member.profile.lastName }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Bestätigte Helfereinsätze</ion-label>
    </ion-list-header>

    <ion-item-group>
      <ion-item-sliding #item *ngFor="let event of member.helferevents">
        <ion-item detail="true" button="true" (click)="openHelferEvent(event)">
          <ion-label>
            <h2>{{event?.date?.toDate() | date:'dd.MM.yyyy'}} {{event?.name}} </h2>
            <h3>{{event?.description}}</h3>
            <h3>{{event?.schichtName}}</h3>
            <h3>{{event?.schichtTimeFrom}} - {{event?.schichtTimeTo}}</h3>
          </ion-label>
          <ion-badge color="primary" slot="end">{{event?.points}}</ion-badge>
        </ion-item>

        <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
          <ion-item-options *ngIf="isClubAdmin(clubAdminList, clubId)" side="end">
            <ion-item-option color="warning" (click)="changeHelferPunkt(item, event)">
              <ion-icon name="create-outline"></ion-icon>
              Ändern
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteHelferPunkt(item, event)">
              <ion-icon name="trash-outline"></ion-icon>
              Löschen
            </ion-item-option>
          </ion-item-options>
        </ng-container>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>