<ion-header [translucent]="true">
  <ion-toolbar>
    <!--   <ng-container *ngIf="clubAdminList$ | async as clubAdminList">
    <ion-buttons *ngIf="isClubAdmin(clubAdminList, clubId)" slot="secondary">
      <ion-button *ngIf="!allowEdit" (click)="edit()">{{"common.edit" | translate}}</ion-button>
      <ion-button *ngIf="allowEdit" (click)="edit()">{{"common.done" | translate}}</ion-button>
    </ion-buttons>
  </ng-container>-->
    <ion-title
      >{{helferData.profile.firstName}}
      {{helferData.profile.lastName}}</ion-title
    >
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"
        >{{helferData.profile.firstName}}
        {{helferData.profile.lastName}}</ion-title
      >
    </ion-toolbar>
  </ion-header>

  @if (clubMember$ | async; as clubMember) {
  <ion-list>
    <ion-list-header>
      <ion-label> Einstellungen </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input
        label="Helferpunkte"
        labelPlacement="floating"
        type="number"
        value="{{clubMember.helferPunkte}}"
        [(ngModel)]="clubMember.helferPunkte"
        (ionChange)="updateHelferPunkte($event.target.value)"
      ></ion-input>
    </ion-item>
  </ion-list>
  } @if (helferData.helfereventsPlanned.length > 0) {
  <ion-list>
    <ion-list-header>
      <ion-label> Geplante Einsätze </ion-label>
    </ion-list-header>
    @for (helferPunkt of helferData.helfereventsPlanned; track helferPunkt) {
    <ion-item>
      <ion-label>
        <h2>{{helferPunkt?.name}}</h2>
        <h3>{{helferPunkt?.date.toDate() | date:'dd.MM.yyyy'}}</h3>
        @for (schicht of helferPunkt?.schichten; track schicht) {
        <h3>
          {{schicht?.name}} {{schicht?.timeFrom}} - {{schicht?.timeTo}} /
          mögliche Punkte: {{schicht?.points}}
        </h3>
        }
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } @if (helferPunkteList$ | async; as helferPunkteList) {
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label> Bestätigte Einsätze </ion-label>
    </ion-list-header>
    <ion-item-group>
      @for (groupBy of groupArray; track groupBy) {
      <ion-item-divider color="light">
        <ion-label> {{groupBy}} </ion-label>
      </ion-item-divider>
      @for (helferPunkt of helferPunkteList; track helferPunkt) { @if
      (helferPunkt.eventDate.toDate().getFullYear()==groupBy) {
      <ion-item-sliding #item>
        <ion-item
          type="button"
          detail="true"
          (click)="openHelferEinsatz(helferPunkt)"
        >
          <ion-label>
            <h2>{{helferPunkt.eventName}}</h2>
            @if (helferPunkt?.schichtName) {
            <h3>{{helferPunkt?.schichtName}}</h3>
            }
            <h3>
              <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
              {{helferPunkt.eventDate.toDate() | date:'dd.MM.yyyy'}}
            </h3>
            @if (helferPunkt?.schichtTimeFrom && helferPunkt?.schichtTimeTo) {
            <h3>
              <ion-icon slot="icon-only" name="time-outline"></ion-icon>
              {{helferPunkt?.schichtTimeFrom}} Uhr -
              {{helferPunkt?.schichtTimeTo}} Uhr
            </h3>
            } @if (helferPunkt?.confirmedByFirstName &&
            helferPunkt?.confirmedByLastName) {
            <h3>
              Bestätigt von: {{helferPunkt?.confirmedByFirstName}}
              {{helferPunkt?.confirmedByLastName}} am
              {{helferPunkt?.date.toDate() | date:'dd.MM.yyyy'}}
            </h3>
            }
          </ion-label>
          <ion-note slot="end">
            <ion-badge>{{helferPunkt?.points}}</ion-badge>
          </ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="primary"
            (click)="editHelferPunkt(item, helferPunkt)"
          >
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option
            color="danger"
            (click)="deleteHelferPunkt(item, helferPunkt)"
          >
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      } } }
    </ion-item-group>
  </ion-list>
  } @if (clubAdminList$ | async; as clubAdminList) { @if
  (isClubAdmin(clubAdminList, clubId)) {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openHelferPunktCreateModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } }
</ion-content>
