<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">schliessen</ion-button>
    </ion-buttons>
    <ion-title>Training Detail</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">Training Detail</ion-title>

    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-list-header>
      <ion-label>
        Allgemein
      </ion-label>
    </ion-list-header>


    <ion-item>
      <ion-label>
        Titel
      </ion-label>
      <ion-input>

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Beschreibung
      </ion-label>
      <ion-textarea>
        
      </ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">
        Uhrzeit von
      </ion-label>
      <ion-input [value]="training.start"></ion-input>
      <ion-button fill="clear" id="open-date-time-from">
        <ion-icon icon="time-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-time-from" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetimeFrom
            presentation="time"
            
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">
        Uhrzeit bis
      </ion-label>
      <ion-input [value]="training.end" id="open-date-time-to"></ion-input>
 <!-- 
   <ion-button fill="clear" id="open-date-time-to">
     <ion-icon icon="time"></ion-icon>
    </ion-button>
  -->
      <ion-popover trigger="open-date-time-to" show-backdrop="false">
        <ng-template>
          <ion-datetime 
            #popoverDatetimeTo
            presentation="time"
            
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>


  </ion-list>




</ion-content>
