@if (training$ | async; as training) {
<ion-header [translucent]="true">
  <ion-toolbar>
    @if (teamAdminList$ | async; as teamAdminList) { @if
    (isTeamAdmin(teamAdminList, training.teamId)) {
    <ion-buttons slot="secondary">
      @if (!allowEdit) {
      <ion-button (click)="edit()">{{"common.edit" | translate}}</ion-button>
      } @if (allowEdit) {
      <ion-button (click)="edit()">{{"common.done" | translate}}</ion-button>
      }
    </ion-buttons>
    } }
    <ion-title>{{"common.details" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- class="ion-padding" -->
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"common.details" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (!allowEdit) {
  <ion-list [inset]="true">
    @if (training.cancelled === true) {
    <ion-item>
      <ion-icon slot="start" color="danger" name="alert-circle"></ion-icon>
      <ion-label>
        <h2>{{"training.cancelled" | translate}}</h2>
        <h3>{{training.cancelledReason}}</h3>
      </ion-label>
    </ion-item>
    }
    <ion-item>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{training.name}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>
        <h2>
          {{training.date.toDate() | date:'dd.MM.yyyy'}} {{training.timeFrom |
          date:'HH:mm'}} Uhr - {{training.timeTo | date:'HH:mm'}} Uhr
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>
          {{training.location}} {{training.streetAndNumber}} {{training.city}}
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{training.liga}} {{training.teamName}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{training.description}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  } @if (clubList$ | async; as clubList) { @if (enableMyClubPro(clubList) &&
  !allowEdit) {
  <ion-list [inset]="true" lines="none">
    <ion-item (click)="openTrainingExerciseModal()" detail="true">
      <ion-label>{{"training.exercises" | translate}}</ion-label>
      @if (exerciseList$ | async; as exerciseList) { @if (exerciseList.length >
      0) {
      <ion-badge slot="end"> {{exerciseList.length}} </ion-badge>
      } @if (exerciseList.length == 0) {
      <ion-note> {{"training.no_exercises" | translate}} </ion-note>
      } }
    </ion-item>
  </ion-list>
  } } @if (isFuture && !allowEdit) {
  <ion-list [inset]="true" lines="none">
    <ion-list-header>
      {{"common.attendances__absences" | translate}}
    </ion-list-header>
    @if (!training?.cancelled) {
    <ion-item class="myclubStatus">
      @if (training.hasOwnProperty('status')) { @for (status of training.status;
      track status) { @if (status.status === null) {
      <ion-fab-button
        (click)="processToggle(status.id, true, training)"
        size="small"
        color="warning"
        slot="start"
      >
        <ion-icon name="help-circle"> </ion-icon>
      </ion-fab-button>
      } @if (status.status === false) {
      <ion-fab-button
        (click)="processToggle(status.id, true, training)"
        size="small"
        color="danger"
        slot="start"
      >
        <ion-icon name="close-circle"> </ion-icon>
      </ion-fab-button>
      } @if (status.status === true) {
      <ion-fab-button
        (click)="processToggle(status.id, false, training)"
        size="small"
        color="success"
        slot="start"
      >
        <ion-icon name="checkmark-circle"> </ion-icon>
      </ion-fab-button>
      } @if (status.id === user.uid) {
      <ion-label>{{"common.my__status" | translate}}</ion-label>
      } @if (status.id !== user.uid) {
      <ion-label>{{status.firstName}} {{status.lastName}} </ion-label>
      } }
      <!-- NEU: Falls keine Status-Einträge vorhanden sind, Teilnahme ermöglichen -->
      @if (training.status.length === 0) {
      <ion-fab-button
        (click)="processToggle(user.uid, true, training)"
        size="small"
        color="warning"
        slot="start"
      >
        <ion-icon name="help-circle"> </ion-icon>
      </ion-fab-button>
      <ion-label>{{'common.my__status' | translate}}</ion-label>
      } } @else {
      <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      }
    </ion-item>
    } @if (teamAdminList$ | async; as teamAdminList) { @if
    (training['unrespondedMembers'].length > 0 && isTeamAdmin(teamAdminList,
    training.teamId)) {
    <ion-item>
      <ion-icon color="warning" slot="start" name="help-circle"> </ion-icon>
      <ion-label
        >{{"common.noreply" | translate}}:
        {{training['unrespondedMembers'].length}}</ion-label
      >
      <ion-button fill="clear" (click)="toggleAll(true, training)">
        {{"common.alle_anmelden" | translate}}</ion-button
      >
    </ion-item>
    } }
  </ion-list>
  } @if (!allowEdit) {
  <ion-list [inset]="true">
    <ion-accordion-group [multiple]="true" [value]="['yes']">
      @if (training['attendeeListTrue'].length > 0) {
      <ion-accordion value="yes">
        <ion-item slot="header" color="light">
          <ion-label
            >{{"common.present" | translate}}:
            {{training['attendeeListTrue'].length}}</ion-label
          >
        </ion-item>
        <div slot="content">
          <ion-list>
            @for (member of training['attendeeListTrue']; track member) {
            <ion-item-sliding #item>
              <ion-item detail="true">
                <ion-icon color="success" slot="start" name="checkmark-circle">
                </ion-icon>
                <ion-label (click)="openMember(member)">
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  <p>
                    {{member?.changedAt?.toDate() | date:'dd.MM.yyyy HH:mm'}}
                  </p>
                  @for (role of member.roles; track role) {
                  <ion-badge>{{role}}</ion-badge>
                  }
                </ion-label>
              </ion-item>
              @if (teamAdminList$ | async; as teamAdminList) { @if
              (isTeamAdmin(teamAdminList, training.teamId)) {
              <ion-item-options side="end">
                @if (member.status === false || member.status === null) {
                <ion-item-option
                  color="success"
                  (click)="toggleItem(item, true, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                </ion-item-option>
                } @if (member.status === true || member.status === null) {
                <ion-item-option
                  color="danger"
                  (click)="toggleItem(item, false, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                </ion-item-option>
                }
              </ion-item-options>
              } }
            </ion-item-sliding>
            }
          </ion-list>
        </div>
      </ion-accordion>
      } @if (training['attendeeListFalse'].length > 0) {
      <ion-accordion value="no">
        <ion-item slot="header" color="light">
          <ion-label
            >{{"common.absent" | translate}}:
            {{training['attendeeListFalse'].length}}</ion-label
          >
        </ion-item>
        <div slot="content">
          <ion-list>
            @for (member of training['attendeeListFalse']; track member) {
            <ion-item-sliding #item>
              <ion-item detail="true">
                <ion-icon color="danger" slot="start" name="close-circle">
                </ion-icon>
                <ion-label (click)="openMember(member)">
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  <p>
                    {{member?.changedAt?.toDate() | date:'dd.MM.yyyy HH:mm'}}
                  </p>
                  @for (role of member.roles; track role) {
                  <ion-badge>{{role}}</ion-badge>
                  }
                </ion-label>
              </ion-item>
              @if (teamAdminList$ | async; as teamAdminList) { @if
              (isTeamAdmin(teamAdminList, training.teamId)) {
              <ion-item-options side="end">
                @if (member.status === false || member.status === null) {
                <ion-item-option
                  color="success"
                  (click)="toggleItem(item, true, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                </ion-item-option>
                } @if (member.status === true || member.status === null) {
                <ion-item-option
                  color="danger"
                  (click)="toggleItem(item, false, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                </ion-item-option>
                }
              </ion-item-options>
              } }
            </ion-item-sliding>
            }
          </ion-list>
        </div>
      </ion-accordion>
      } @if (training['unrespondedMembers'].length > 0) {
      <ion-accordion value="null">
        <ion-item slot="header" color="light">
          <ion-label
            >{{"common.noreply" | translate}}:
            {{training['unrespondedMembers'].length}}</ion-label
          >
        </ion-item>
        <div slot="content">
          <ion-list>
            @for (member of training['unrespondedMembers']; track member) {
            <ion-item-sliding #item>
              <ion-item detail="true">
                <ion-icon color="warning" slot="start" name="help-circle">
                </ion-icon>
                <ion-label (click)="openMember(member)">
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  @for (role of member.roles; track role) {
                  <ion-badge>{{role}}</ion-badge>
                  }
                </ion-label>
              </ion-item>
              @if (teamAdminList$ | async; as teamAdminList) { @if
              (isTeamAdmin(teamAdminList, training.teamId)) {
              <ion-item-options side="end">
                @if (member.status === false || member.status === null) {
                <ion-item-option
                  color="success"
                  (click)="toggleItem(item, true, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                </ion-item-option>
                } @if (member.status === true || member.status === null) {
                <ion-item-option
                  color="danger"
                  (click)="toggleItem(item, false, training, member.id)"
                >
                  <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                </ion-item-option>
                }
              </ion-item-options>
              } }
            </ion-item-sliding>
            }
          </ion-list>
        </div>
      </ion-accordion>
      }
    </ion-accordion-group>
  </ion-list>
  }
  <!-- CHANGE MODE-->
  @if (allowEdit) {
  <ion-list [inset]="true">
    <ion-item>
      <ion-checkbox
        labelPlacement="end"
        (ionChange)="updateTraining($event, 'cancelled')"
        [checked]="training.cancelled"
      >
        {{"training.cancelled" | translate}}
      </ion-checkbox>
    </ion-item>
    @if (training.cancelled) {
    <ion-item>
      <ion-input
        [label]='"training.cancelled_reason" | translate'
        label-placement="stacked"
        (ionChange)="updateTraining($event, 'cancelledReason')"
        [value]="training.cancelledReason"
      >
      </ion-input>
    </ion-item>
    }
    <ion-item>
      <ion-input
        [label]='"common.name" | translate'
        label-placement="stacked"
        (ionChange)="updateTraining($event, 'name')"
        [value]="training.name"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        [autoGrow]="true"
        (ionChange)="updateTraining($event, 'description')"
        [label]='"common.description" | translate'
        label-placement="stacked"
        [value]="training.description"
      >
      </ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-input
        (ionChange)="updateTraining($event, 'location')"
        [label]='"common.location" | translate'
        label-placement="stacked"
        [value]="training.location"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        (ionChange)="updateTraining($event, 'streetAndNumber')"
        [label]='"common.street__house_number" | translate'
        label-placement="stacked"
        [value]="training.streetAndNumber"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        (ionChange)="updateTraining($event, 'city')"
        [label]='"common.locality" | translate'
        label-placement="stacked"
        [value]="training.city"
      >
      </ion-input>
    </ion-item>
  </ion-list>
  <!--
                              <ion-list [inset]="true">
                                <ion-item id="timeFromItem">
                                  <ion-label position="">
                                    {{"common.start__event" | translate}}:
                                  </ion-label>
                                  <ion-datetime-button slot="end" datetime="timeFrom"></ion-datetime-button>
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime presentation="time" id="timeFrom" (ionChange)="changeTimeFrom($event)"
                                        (ionChange)="updateTraining($event, 'timeFrom')" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                                      [value]="training.timeFrom"></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </ion-item>
                                <ion-item id="timeToItem">
                                  <ion-label position=""> {{"common.end__event" | translate}}: </ion-label>
                                  <ion-datetime-button slot="end" datetime="timeTo"></ion-datetime-button>
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime (ionChange)="updateTraining($event, 'timeTo')" presentation="time" id="timeTo"
                                      minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [value]="training.timeTo"></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </ion-item>
                                <ion-item id="startDateItem">
                                  <ion-label position="default">
                                    {{"common.start__date" | translate}}:
                                  </ion-label>
                                  <ion-datetime-button slot="end" datetime="startDate"></ion-datetime-button>
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime (ionChange)="updateTraining($event, 'startDate')" [firstDayOfWeek]="1"
                                        (ionChange)="changeStartDate($event)" presentation="date" id="startDate"
                                      [value]="training.startDate"></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </ion-item>
                                <ion-item id="endDateItem">
                                  <ion-label position="default">
                                    {{"common.end__date" | translate}}:
                                  </ion-label>
                                  <ion-datetime-button slot="end" datetime="endDate"></ion-datetime-button>
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime (ionChange)="updateTraining($event, 'endDate')" [firstDayOfWeek]="1" presentation="date"
                                      id="endDate" [value]="training.endDate"></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </ion-item>
                              </ion-list>-->
  }
  <ion-text class="ion-text-center" color="medium">
    <ion-note>
      <p>Training ID: {{training.id}}</p>
    </ion-note>
  </ion-text>
</ion-content>
} @else {
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-skeleton-text
        animated
        style="width: 80px; height: 20px; margin: 0 10px"
      ></ion-skeleton-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-skeleton-text animated style="width: 150px"></ion-skeleton-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Training Details List -->
  <ion-list [inset]="true">
    <!-- Training Name -->
    <ion-item>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <!-- Date and Time -->
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <!-- Location -->
    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <!-- Team/League -->
    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <!-- Description -->
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- Exercises Section -->
  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-label>
        <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text
        slot="end"
        animated
        style="width: 40px; margin-right: 16px"
      ></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <!-- Attendance Section -->
  <ion-list [inset]="true" lines="none">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 140px"></ion-skeleton-text>
    </ion-list-header>
    <!-- My Status -->
    <ion-item>
      <ion-skeleton-text
        animated
        slot="start"
        style="width: 40px; height: 40px; border-radius: 50%"
      >
      </ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <!-- No Reply Count with Action -->
    <ion-item>
      <ion-icon slot="start" name="help-circle"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 120px"></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text
        slot="end"
        animated
        style="width: 80px"
      ></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <!-- Attendance Lists -->
  <ion-list [inset]="true">
    <ion-accordion-group [multiple]="true" [value]="['yes']">
      <!-- Present -->
      <ion-accordion value="yes">
        <ion-item slot="header" color="light">
          <ion-label>
            <ion-skeleton-text
              animated
              style="width: 150px"
            ></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <!-- Present Members -->
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle"></ion-icon>
              <ion-label>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </ion-label>
              <ion-skeleton-text
                slot="end"
                style="width: 60px; margin: 0 8px"
              ></ion-skeleton-text>
              <ion-skeleton-text
                slot="end"
                style="width: 60px"
              ></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle"></ion-icon>
              <ion-label>
                <ion-skeleton-text
                  animated
                  style="width: 70%"
                ></ion-skeleton-text>
              </ion-label>
              <ion-skeleton-text
                slot="end"
                style="width: 60px"
              ></ion-skeleton-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
      <!-- Absent -->
      <ion-accordion value="no">
        <ion-item slot="header" color="light">
          <ion-label>
            <ion-skeleton-text
              animated
              style="width: 130px"
            ></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-accordion>
      <!-- No Reply -->
      <ion-accordion value="null">
        <ion-item slot="header" color="light">
          <ion-label>
            <ion-skeleton-text
              animated
              style="width: 140px"
            ></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
}

<!-- Training Details Skeleton -->
