<ion-header>
  <ion-toolbar>

    <ion-title>{{training?.date?.seconds * 1000 | date: 'EEE d. MMM yyyy'}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()"> schliessen </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{training?.date?.seconds * 1000 | date: 'EEE d. MMM yyyy'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-input readonly="true" value="{{training?.title}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="information-outline"></ion-icon>
      <ion-textarea readonly="true" value="{{training?.description}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-textarea readonly="true" value="{{training?.location}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="time-outline"></ion-icon>
      <ion-label>{{training?.timeFrom}} - {{training?.timeTo}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Teilnehmer</ion-label>
    </ion-list-header>

    <ion-segment value="{{segment}}" (ionChange)="changeSegment($event)">
      <ion-segment-button value="accept">
        <ion-label>angemeldet</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reject">
        <ion-label>abgemeldet</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="segment=='accept'">
      <ion-list *ngFor="let member of acceptList" lines="full">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{member.user.picture}}" />
          </ion-avatar>
          <ion-label>{{member.user.firstName}} {{member.user.lastName}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="segment=='reject'">
      <ion-list *ngFor="let member of rejectList" lines="full">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{member.user.picture}}" />
          </ion-avatar>
          <ion-label>{{member.user.firstName}} {{member.user.lastName}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
