@import "@rdlabo/ionic-theme-ios26/dist/css/default-variables.css";
@import "@rdlabo/ionic-theme-ios26/dist/css/ionic-theme-ios26.css";

/**
 * This file is to eliminate the impact of class name changes for iOS26.
 * For example, `ion-buttons ion-button[fill=default]` is not normally implemented, but may be required for iOS26.
 * This file is to eliminate such effects.
 * Note: This is not include `@rdlabo/ionic-theme-md3`
 */
@import "@rdlabo/ionic-theme-ios26/dist/css/md-remove-ios-class-effect.css";

/**
 * If you will use the design of ion-item-group with ion-list on Android as well, import it.
 * More info: https://github.com/rdlabo-team/ionic-theme-ios26/blob/main/USING_ION_ITEM_GROUP.md
 * Note: This is include `@rdlabo/ionic-theme-md3`
 * @import '@rdlabo/ionic-theme-ios26/dist/css/md-ion-list-inset.css';
 */

/*
 * Support Dark Mode
 * We support Ionic Dark Mode. More information is here: https://ionicframework.com/docs/theming/dark-mode
 * use Always:    @import '@rdlabo/ionic-theme-ios26/dist/css/ionic-theme-ios26-dark-always.css'
 * use System:    @import '@rdlabo/ionic-theme-ios26/dist/css/ionic-theme-ios26-dark-system.css'
 * use CSS Class: @import '@rdlabo/ionic-theme-ios26/dist/css/ionic-theme-ios26-dark-class.css'
 */

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
// @import "@ionic/angular/css/core.css";
// @import "~@ionic/angular/css/core.css";
@import "@ionic/angular/css/ionic.bundle.css";

/* Basic CSS for apps built with Ionic
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css"; */
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.myclubStatus {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

ion-spinner {
  left: 50%;
  right: 50%;
  top: 30%;
}

// Alert iOS Popup
@media (prefers-color-scheme: dark) {
  .ios input {
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    color: var(--ion-text-color);
  }

  .md input {
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    color: var(--ion-text-color);
  }
}

.confirm-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
