<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Member</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">{{"common.close" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Member</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="userProfile$ | async as userProfile; else loading">
    <ion-list lines="full" [inset]="true">
      <ion-list-header>
        <ion-label> {{"profile.generally" | translate}} </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="{{userProfile.firstName}}"
            src="{{userProfile.profilePicture}}"
          />
        </ion-avatar>
        <ion-label></ion-label>
      </ion-item>

      <ion-item>
        <ion-input
          readonly
          labelPlacement="stacked"
          [label]='"common.first__name" | translate'
          attr.aria-label='{{"common.first__name" | translate}}'
          [(ngModel)]="userProfile.firstName"
          value="{{userProfile.firstName}}"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          readonly
          labelPlacement="stacked"
          [label]='"common.last__name" | translate'
          attr.aria-label='{{"common.last__name" | translate}}'
          [(ngModel)]="userProfile.lastName"
          value="{{userProfile.lastName}}"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          readonly
          labelPlacement="stacked"
          [label]='"common.email" | translate'
          attr.aria-label='{{"common.email" | translate}}'
          [(ngModel)]="userProfile.email"
          value="{{userProfile.email}}"
        >
        </ion-input>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #loading>
  <ion-list *ngIf="loading">
    <ion-grid>
      <ion-row>
        <ion-col
          size-lg="4"
          size-md="6"
          size-sm="6"
          size="12"
          *ngFor="let item of skeleton"
        >
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ng-template>
